<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.codeka.warworlds"
    android:versionCode="786"
    android:versionName="0.4.786"
    android:installLocation="auto"
    android:largeHeap="@bool/largeHeap">

    <!-- Android SDK version 2.2 (API level 8) is the minimum we can viably support, since
         that's what GCM required. We'd prefer ICS+ though... -->
    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="17" />

    <!-- We use OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <!-- Only this application can receive the messages and registration result -->
    <permission
        android:name="au.com.codeka.warworlds.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="au.com.codeka.warworlds.permission.C2D_MESSAGE" />

    <!-- Permission to register and receive data messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Permission for internet access, obvious - we're an MMO -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Used by the AdMob activity -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Permission to keep the processor from sleeping -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permission to retrieve the list of accounts in the Accounts Service - required because
         we need to enumerate the accounts so you can log on. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Permission to request auth tokens from the AccountManager - again, so you can log on. -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Permission that allows us to access in-app billing -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- Used to save screenshots we share via bugreport. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="au.com.codeka.warworlds.App"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/WarWorlds"
        android:hardwareAccelerated="true"
        android:allowBackup="true" >

        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />

        <!-- Main activity -->
        <activity
            android:name=".WarWorldsActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AccountsActivity"
                  android:label="@string/app_name" />
        <activity android:name=".WarmWelcomeActivity" />
        <activity android:name=".GlobalOptionsActivity" />
        <activity android:name=".EmpireSetupActivity" />
        <activity android:name=".RealmSelectActivity" />
        <activity android:name=".EmpireResetActivity" />
        <activity android:name=".BlitzResetActivity" />
        <activity android:name=".game.EmpireActivity" />
        <activity android:name=".game.EnemyEmpireActivity" />
        <activity android:name=".game.build.BuildActivity" />
        <activity android:name=".game.FleetMoveActivity" />
        <activity android:name=".game.starfield.StarfieldActivity" />
        <activity android:name=".game.solarsystem.SolarSystemActivity" />
        <activity android:name=".game.solarsystem.EnemyPlanetActivity" />
        <activity android:name=".game.solarsystem.EmptyPlanetActivity" />
        <activity android:name=".game.solarsystem.FleetActivity" />
        <activity android:name=".game.alliance.AllianceActivity" />
        <activity android:name=".game.alliance.AllianceChangeDetailsActivity"
                  android:windowSoftInputMode="stateUnchanged" />
        <activity android:name=".game.alliance.AllianceDetailsActivity" />
        <activity android:name=".game.wormhole.WormholeActivity" />
        <activity android:name=".game.chat.ChatActivity" />
        <activity android:name=".game.SitrepActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".game.starfield.StarfieldActivity" />
        </activity>

        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <service android:name=".GCMIntentService" />
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND" >
          <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            <category android:name="au.com.codeka.warworlds" />
          </intent-filter>
        </receiver>

    </application>

</manifest>