{% extends "skeleton.html" %}
{% block "title" %}Empires{% end %}
{% block "head" %}
  <script type="text/javascript" src="/admin/js/tmpl.js"></script>
  <script type="text/javascript" src="/admin/js/time.js"></script>
  <script>
  </script>
{% end %}
{% block "content" %}
  <h1>{{ empire.display_name }}</h1>

  <h2>Stars</h2>
  <table>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
    {% for star in stars %}
      <tr>
        <td>{{ star.id }}</td>
        <td><a href="/admin/starfield?sector={{ star.sector_x }},{{ star.sector_y }}&star={{ star.id }}">{{ star.name }}</a></td>
      </tr>
    {% end %}
  </table>
{% end %}
