{% extends "skeleton.html" %}
{% block "title" %}Empires{% end %}
{% block "head" %}
  <link rel="stylesheet" href="/admin/css/star.css">
  <link rel="stylesheet" href="/admin/empires/details.css">
  <script type="text/javascript" src="/admin/js/designs.js"></script>
  <script type="text/javascript" src="/admin/js/tabs.js"></script>
  <script type="text/javascript" src="/admin/js/tmpl.js"></script>
  <script type="text/javascript" src="/admin/js/time.js"></script>

  <script>
    const empire = {
      "id": {{ empire.id }}
    };
  </script>
  <script type="text/javascript" src="/admin/empires/details.js"></script>
{% end %}
{% block "content" %}
  <h1>{{ empire.display_name }}</h1>

  <ul class="tabs">
    <li><a href="javascript:;" data-tab="overview" class="selected">Overview</a></li>
    <li><a href="javascript:;" data-tab="stars">Stars</a>
    <li><a href="javascript:;" data-tab="devices">Devices</a>
    <li><a href="javascript:;" data-tab="sit-reports">Sit. Reports</a>
  </ul>
  <div id="overview">
    <p>
      <b>Email:</b>
      {% if account.email != null %}
        <span>{{ account.email }} ({{ account.email_status }})</span>
        {% if account.email_status.name == "UNVERIFIED" %}
          <a href="javascript:resendEmail();">Resend email</a> &bull;
          <a href="javascript:forceVerify();">Force verify</a>
        {% end %}
      {% else %}
        <em>none</em>
      {% end %}
    </p>
    <script>
      function resendEmail() {
        $.ajax({
          url: "/admin/ajax/accounts",
          data: {
            "action": "resend",
            "id": empire.id
          },
          method: "POST",
          success: function(data) {
            if (data != "success") {
              alert(data);
            } else {
              alert("Verification email sent.");
            }
          }
        });
      }

      function forceVerify() {
        $.ajax({
          url: "/admin/ajax/accounts",
          data: {
            "action": "force-verify",
            "id": empire.id
          },
          method: "POST",
          success: function(data) {
            if (data != "success") {
              alert(data);
            } else {
              alert("Verification complete.");
              location.reload();
            }
          }
        });
      }
    </script>

    <h2>Send message</h2>
    <form method="post">
      <input type="text" name="msg">
      <input type="submit" value="Send">
      {% if error %}
      <p class="error">{{ error }}</p>
      {% end %}
    </form>

    {% if patreon %}
    <h2>Patreon</h2>
    <textarea>
      {{ Gson.encode(patreon) }}
    </textarea>
    {% end %}
  </div>
  <div id="stars">
    <div class="spinner"></div>
  </div>
  <div id="devices">
    <div class="spinner"></div>
  </div>
  <div id="sit-reports">
    <div class="spinner"></div>
  </div>

{% end %}
