{% extends "skeleton.html" %}
{% block "title" %}Empires{% end %}
{% block "head" %}
  <script type="text/javascript" src="/admin/js/tmpl.js"></script>
  <script type="text/javascript" src="/admin/js/time.js"></script>
  <script>
  </script>
{% end %}
{% block "content" %}
  <h1>Empires</h1>
  <p>TODO: implement searching and stuff.</p>
  <table>
    <tr>
      <td>#</td>
      <td>Empire name</td>
      <td>Email address</td>
    </tr>
    {% for account in accounts %}
    <tr>
      <td>{{ account.empire_id }}</td>
      <td>{% include "inc/empire_name.html" empire = empires[account.empire_id] %}</td>
      <td>
        {% if account.email != null %}
          <span>{{ account.email }} ({{ account.email_status }})</span>
        {% else %}
          <em>none</em>
        {% end %}
      </td>
    </tr>
  {% end %}
  </table>
{% end %}