<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="au.com.codeka.warworlds"
  android:installLocation="auto"
  android:largeHeap="@bool/largeHeap"
  android:versionCode="1036"
  android:versionName="1.0.1036">

  <!-- We use OpenGL ES 2.0 -->
  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true" />

  <!-- Permission for internet access, obvious - we're an MMO -->
  <uses-permission android:name="android.permission.INTERNET" />

  <!-- Used by the AdMob activity -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <!-- Permission to keep the processor from sleeping -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <!-- Permission to retrieve the list of accounts in the Accounts Service - required because
       we need to enumerate the accounts so you can log on. -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />

  <!-- Permission that allows us to access in-app billing -->
  <uses-permission android:name="com.android.vending.BILLING" />

  <!-- Used to save screenshots we share via bugreport. -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:name="au.com.codeka.warworlds.App"
    android:allowBackup="true"
    android:hardwareAccelerated="true"
    android:icon="@drawable/app_icon"
    android:label="${applicationLabel}"
    android:networkSecurityConfig="@xml/network_security_config"
    android:theme="@style/WarWorlds">

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />
    <meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="ca-app-pub-0091628662952708~3570955779" />

    <uses-library
      android:name="org.apache.http.legacy"
      android:required="false" />

    <!-- Main activity -->
    <activity
      android:name="au.com.codeka.warworlds.MainActivity"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name="au.com.codeka.warworlds.AccountsActivity" />
    <activity android:name="au.com.codeka.warworlds.EmpireSetupActivity" />
    <activity android:name="au.com.codeka.warworlds.EmpireResetActivity" />
    <activity android:name="au.com.codeka.warworlds.BlitzResetActivity" android:exported="true" />
    <activity android:name="au.com.codeka.warworlds.game.build.BuildActivity" />
    <activity
      android:name="au.com.codeka.warworlds.game.empire.EmpireActivity"
      android:label="War Worlds">
      <intent-filter android:label="War Worlds">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="game.war-worlds.com"
          android:pathPrefix="/play/empire/settings"
          android:scheme="https" />
      </intent-filter>
    </activity>
    <activity android:name="au.com.codeka.warworlds.game.empire.EnemyEmpireActivity" />
    <activity android:name="au.com.codeka.warworlds.game.FleetMoveActivity" />
    <activity android:name="au.com.codeka.warworlds.game.solarsystem.EnemyPlanetActivity" />
    <activity android:name="au.com.codeka.warworlds.game.solarsystem.EmptyPlanetActivity" />
    <activity android:name="au.com.codeka.warworlds.game.solarsystem.OwnedPlanetActivity" />
    <activity android:name="au.com.codeka.warworlds.game.solarsystem.FleetActivity" />
    <activity android:name="au.com.codeka.warworlds.game.alliance.AllianceActivity" />
    <activity
      android:name="au.com.codeka.warworlds.game.alliance.AllianceChangeDetailsActivity"
      android:windowSoftInputMode="stateUnchanged" />
    <activity android:name="au.com.codeka.warworlds.game.alliance.AllianceDetailsActivity" />
    <activity android:name="au.com.codeka.warworlds.game.chat.ChatActivity" />
    <activity android:name="au.com.codeka.warworlds.game.chat.BlockedEmpiresActivity" />
    <activity android:name="au.com.codeka.warworlds.game.wormhole.DestinationActivity" />
    <activity android:name="au.com.codeka.warworlds.game.SitrepActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="au.com.codeka.warworlds.game.starfield.StarfieldFragment" />
    </activity>

    <service
            android:name=".notifications.NotificationMessagingService"
            android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
  </application>

</manifest>
