<!DOCTYPE html>
<head>
  <title>War Worlds &bull; {% block title %}Admin{% endblock %}</title>
  <link rel="stylesheet" href="/css/v{{resource_version}}/reset.css">
  <link rel="stylesheet" href="/css/v{{resource_version}}/style.css">
  <link rel="stylesheet" href="/css/v{{resource_version}}/admin.css">

  {%- block extracss %}{% endblock %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/ckeditor/v{{resource_version}}/ckeditor.js"></script>
  {%- block extrajs %}{% endblock -%}
</head>
<body>
  <header id="main-header">
    <h1>War Worlds</h1>
  </header>
  <section id="main-content">{% block maincontent %}{% endblock %}</section>
  <nav id="main-nav">
    <ul>
      <li><a href="/admin/posts">Blog</a>
        <ul>
          <li><a href="/admin/posts/new">New Post</a>
        </ul>
      <li><a href="/admin/blobs">Blobs</a>
        <ul>
          <li><a href="/admin/blobs/new">New Blob</a>
        </ul>
      <li><a href="/admin/forum">Forum</a>
        <ul>
          <li><a href="/admin/forum/forums">Forum List</a>
        </ul>
      <li><a href="/admin/docs">Docs</a>
      <li><a href="/">Leave Backend</a>
    </ul>
  </nav>
</body>
