<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.codeka.warworlds"
    android:versionCode="35"
    android:versionName="0.1.20130203.418" >

    <!-- C2DM requires Android SDK version 2.2 (API level 8) or above, and we want to be
         able to run on the minimum version (test using a Galaxy S) -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- Only this application can receive the messages and registration result -->
    <permission
        android:name="au.com.codeka.warworlds.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="au.com.codeka.warworlds.permission.C2D_MESSAGE" />

    <!-- Permission to register and receive data messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Permission for internet access, obvious - we're an MMO -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Used by the AdMob activity -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Permission to keep the processor from sleeping -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permission to retrieve the list of accounts in the Accounts Service - required because
         we need to enumerate the accounts so you can log on. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Permission to request auth tokens from the AccountManager - again, so you can log on. -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Permission that allows us to access in-app billing -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/WarWorlds"
        android:hardwareAccelerated="true"
        android:allowBackup="true" >

        <!-- Main activity -->
        <activity
            android:name=".WarWorldsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AccountsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait" />

        <activity android:name=".WarmWelcomeActivity" />

        <activity android:name=".GlobalOptionsActivity" />

        <activity android:name=".EmpireSetupActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".game.EmpireActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".game.starfield.StarfieldActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".game.solarsystem.SolarSystemActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".game.solarsystem.BuildActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".game.solarsystem.FleetActivity"
                  android:screenOrientation="portrait" />
        
        <activity android:name=".game.ChatActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".game.SitrepActivity"
                  android:screenOrientation="portrait" />

        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <service android:name=".GCMIntentService" />
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND" >
          <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            <category android:name="au.com.codeka.warworlds" />
          </intent-filter>
        </receiver>

    </application>

</manifest>