
# Temp files
*~
*.class

# Make sure keystore.jks never gets added to source control, it's SEKRET!
keystore.jks

server/src/main/data/store/*
server/src/main/data/config-debug.json
client/signing.properties

# Android Studio/gradle files and directories
.gradle
.idea/
local.properties
captures/
*.iml

# Ignore build directory in top-level folder and the first child. This is where
# build artifacts go.
/build
/*/build/


#Ignore generated android code
** gen/
gen/
