*.class

# Package Files #
*.war
*.ear

# Python files
*.pyc

# Temp files
*~

.gitignore

# Make sure keystore.jks never gets added to source control, it's SEKRET!
keystore.jks

server/data/config-debug.json
client/signing.properties

# Android Studio/gradle files and directories
.gradle
.idea/
build/
local.properties
