*.class

# Package Files #
*.jar
*.war
*.ear

# Python files
*.pyc

# Temp files
*~

.gitignore

local.properties

client/bin
client/bin.bak
client/gen
planet-render-android/bin
planet-render-android/gen
