{% extends "skeleton.html" %}
{% block title %}Starfield{% endblock %}
{% block head %}
  <link rel="stylesheet" href="/admin/css/starfield.css">
  <script type="text/javascript" src="/admin/js/tmpl.js"></script>
  <script type="text/javascript" src="/admin/js/empirestore.js"></script>
  <script type="text/javascript" src="/admin/js/starfield.js"></script>
  <script type="text/javascript" src="/admin/js/designs.js"></script>
  <script type="text/javascript" src="/admin/js/time.js"></script>
{% endblock %}
{% block content %}
  <h1>Starfield</h1>
  <div class="left-column">
    <div id="starfield"></div>
    <fieldset id="search">
      <legend>Search</legend>
      <div id="xy">
        <input name="x" type="number" value="0">,
        <input name="y" type="number" value="0">
        <button>Jump</button>
      </div>
    </fieldset>
  </div>
  <div class="right-column">
    <div id="star-details"></div>
    <script id="star-details-tmpl" type="text/html">
      <div class="star-big star-big-<%= classification.toLowerCase() %>"></div>
      <h1><%= name %></h1>
      <div class="details"><%= id %> [<%= sector_x %>,<%= sector_y %>] (<%= offset_x %>,<%= offset_y %>)</div>
      <div class="planets">
        <% for (var i in planets) { %>
          <div class="planet">
            <div class="planet-icon"><img src="/render/planet/<%= id %>/<%= i %>/64x64/mdpi.png" width="64" height="64"></div>
            <div class="planet-details">
              <h2><%= toTitleCase(planets[i].planet_type) %></h2>
              <ul>
                <li>Population: <span class="congeniality"><span style="width: <%= Math.min(100, planets[i].population_congeniality / 10) %>%"></span></span> <%= planets[i].population_congeniality %></li>
                <li>Farming: <span class="congeniality"><span style="width: <%= Math.min(100, planets[i].farming_congeniality) %>%"></span></span> <%= planets[i].farming_congeniality %></li>
                <li>Mining: <span class="congeniality"><span style="width: <%= Math.min(100, planets[i].mining_congeniality) %>%"></span></span> <%= planets[i].mining_congeniality %></li>
                <li>Energy: <span class="congeniality"><span style="width: <%= Math.min(100, planets[i].energy_congeniality) %>%"></span></span> <%= planets[i].energy_congeniality %></li>
              </ul>
            </div>
          </div>
          <% if (planets[i].colony) { %>
            <div class="colony">
              <img src="/render/empire/<%= planets[i].colony.empire_id %>/24x24/mdpi.png" width="24" height="24">
              <h2><span data-empireid="<%= planets[i].colony.empire_id %>">...</span></h2>
              <table>
                <tr>
                  <th>Focus</th>
                  <th>Buildings</th>
                  <th>Build queue</th>
                </tr>
                <tr>
                  <td>
                    <div><img src="/admin/img/focus/farming.png" width="16" height="16"> <%= Math.round(planets[i].colony.focus.farming * 100) %>%</div>
                    <div><img src="/admin/img/focus/mining.png" width="16" height="16"> <%= Math.round(planets[i].colony.focus.mining * 100) %>%</div>
                    <div><img src="/admin/img/focus/energy.png" width="16" height="16"> <%= Math.round(planets[i].colony.focus.energy * 100) %>%</div>
                    <div><img src="/admin/img/focus/construction.png" width="16" height="16"> <%= Math.round(planets[i].colony.focus.construction * 100) %>%</div>
                  </td>
                  <td>
                    <% for (var j in planets[i].colony.buildings) { %>
                    <div class="building-entry">
                      <% var design = Designs.get(planets[i].colony.buildings[j].design_type); %>
                      <img src="/admin/img/sprites/<%= design.image_url %>" />
                      <div><%= design.display_name %> lvl <%= planets[i].colony.buildings[j].level %></div>
                    </div>
                    <% } %>
                    <% if (planets[i].colony.buildings == null || planets[i].colony.buildings.length == 0) { %>
                    <i>None</i>
                    <% } %>
                  </td>
                  <td>
                    <% for (var j in planets[i].colony.build_requests) { %>
                      <div class="build-queue-entry">
                        <% var design = Designs.get(planets[i].colony.build_requests[j].design_type); %>
                        <img src="/admin/img/sprites/<%= design.image_url %>" />
                        <div><%= design.display_name %> x <%= planets[i].colony.build_requests[j].count %></div>
                        <div><%= Math.round(planets[i].colony.build_requests[j].progress * 100) %> % complete</div>
                        <div><time timestamp="<%= planets[i].colony.build_requests[j].end_time %>"></time></div>
                      </div>
                    <% } %>
                    <% if (planets[i].colony.build_requests == null || planets[i].colony.build_requests.length == 0) { %>
                      <i>None</i>
                    <% } %>
                  </td>
                </tr>
              </table>
            </div>
            <% empireStore.getEmpire(planets[i].colony.empire_id); %>
          <% } %>
        <% } %>
      </div>
      <div class="fleets">
        <% for (var i in fleets ) { %>
          <% var design = Designs.get(fleets[i].design_type); %>
          <div class="fleet">
            <div class="fleet-icon"><img src="/admin/img/sprites/<%= design.image_url %>" /></div>
            <%= design.display_name %> x <%= fleets[i].num_ships %>
          </div>
        <% } %>
      </div>
      <div class="simulate">
        <a href="javascript:simulate(<%= id %>);">Simulate</a>
        <div id="simulate-result"></div>
      </div>
    </script>
    <script id="simulate-result-tmpl" type="text/html">
      <h3>Timing</h3>
      <div>Load: <%= loadTime %>ms</div>
      <div>Simulate: <%= simulateTime %>ms</div>
      <div>Save: <%= saveTime %>ms</div>
      <h3>Logs</h3>
      <div style="white-space: pre;"><%= logMessages %></div>
    </script>
  </div>
{% endblock %}