{% extends "skeleton.html" %}
{% block title %}Starfield{% endblock %}
{% block head %}
  <link rel="stylesheet" href="/admin/css/starfield.css">
  <script type="text/javascript" src="/admin/js/tmpl.js"></script>
  <script type="text/javascript" src="/admin/js/empirestore.js"></script>
  <script type="text/javascript" src="/admin/js/starfield.js"></script>
  <script type="text/javascript" src="/admin/js/designs.js"></script>
{% endblock %}
{% block content %}
  <h1>Starfield</h1>
  <div class="left-column">
    <div id="starfield"></div>
    <fieldset id="search">
      <legend>Search</legend>
      <div id="xy">
        <input name="x" type="number" value="0">,
        <input name="y" type="number" value="0">
        <button>Jump</button>
      </div>
    </fieldset>
  </div>
  <div class="right-column">
    <div id="star-details"></div>
    <script id="star-details-tmpl" type="text/html">
      <div class="star-big star-big-<%= classification.toLowerCase() %>"></div>
      <h1><%= name %></h1>
      <div class="details"><%= id %> [<%= sector_x %>,<%= sector_y %>] (<%= offset_x %>,<%= offset_y %>)</div>
      <div class="planets">
        <% for (var i in planets) { %>
          <div class="planet">
            <div class="planet-icon"><img src="/render/planet/<%= id %>/<%= i %>/64x64/mdpi.png" width="64" height="64"></div>
            <div class="planet-details">
              <h2><%= toTitleCase(planets[i].planet_type) %></h2>
              <ul>
                <li>Population: <span class="congeniality"><span style="width: <%= Math.min(100, planets[i].population_congeniality / 10) %>%"></span></span> <%= planets[i].population_congeniality %></li>
                <li>Farming: <span class="congeniality"><span style="width: <%= Math.min(100, planets[i].farming_congeniality) %>%"></span></span> <%= planets[i].farming_congeniality %></li>
                <li>Mining: <span class="congeniality"><span style="width: <%= Math.min(100, planets[i].mining_congeniality) %>%"></span></span> <%= planets[i].mining_congeniality %></li>
                <li>Energy: <span class="congeniality"><span style="width: <%= Math.min(100, planets[i].energy_congeniality) %>%"></span></span> <%= planets[i].energy_congeniality %></li>
              </ul>
            </div>
          </div>
          <% if (planets[i].colony) { %>
            <div class="colony">
              <img src="/render/empire/<%= planets[i].colony.empire_id %>/24x24/mdpi.png" width="24" height="24">
              <h2><span data-empireid="<%= planets[i].colony.empire_id %>">...</span></h2>
            </div>
            <% empireStore.getEmpire(planets[i].colony.empire_id); %>
          <% } %>
        <% } %>
      </div>
      <div class="fleets">
        <% for (var i in fleets ) { %>
          <% var design = Designs.get(fleets[i].design_id); %>
          <div class="fleet">
            <div class="fleet-icon"><img src="/admin/img/sprites/<%= design.image_url %>" /></div>
            <%= design.display_name %>
          </div>
        <% } %>
      </div>
      <div class="simulate">
        <a href="javascript:simulate(<%= id %>);">Simulate</a>
        <div id="simulate-result"></div>
      </div>
    </script>
    <script id="simulate-result-tmpl" type="text/html">
      
    </script>
  </div>
{% endblock %}