{% extends "admin/skeleton.html" %}
{% block "title" %}Cron{% end %}
{% block "head" %}
<script src="/realms/{{realm}}/js/time.js"></script>
<script src="/realms/{{realm}}/js/popup.js"></script>
<style>
  pre {
    margin: 0;
  }
  tr.job td {
    border-top: solid 1px #ccc;
  }
</style>
{% end %}
{% block "content" %}
<h1>Cron</h1>

<a id="newjob-link" href="">New job</a>

<table width="100%">
  <tr>
    <th>ID</th>
    <th>Job</th>
    <th>Parameters</th>
    <th>Schedule</th>
    <th>Last run</th>
    <th>Next run</th>
    <th></th>
  </tr>
  {% for job in jobs %}
  <tr class="job">
    <td>{{ job.id }}</td>
    <td title="{{ job.annotation.desc }}">{{ job.annotation.name }}</td>
    <td>{{ job.parameters }}</td>
    <td><code>{{ job.schedule }}</code></td>
    <td><time timestamp="{{ job.lastRunTime.millis / 1000 }}"></time></td>
    <td>
      {% if !job.enabled %}
        <em>Disabled</em>
      {% else %}
        <time timestamp="{{ job.nextRunTime.millis / 1000 }}"></time>
      {% end %}
    </td>
    <td>
      <a href="javascript:runJob({{ job.id }});">Run now</a>
      &bull;
      <a href="javascript:editJob({{ job.id }}, '{{ job.className }}', '{{ job.parameters }}', '{{ job.schedule }}', {{ job.enabled }}, {{ job.runOnce }});">Edit</a>
      &bull;
      Delete
    </td>
  </tr>
  <tr>
    <td></td>
    <td colspan="6"><code><pre>{{ job.lastStatus }}</pre></code></td>
  </tr>
  {% end %}
</table>

<div id="edit-cron" class="popup">
  <h2>Edit job</h2>
  <form action="/realms/{{realm}}/admin/cron" method="post">
    <input type="hidden" name="action" value="edit-cron" />
    <input type="hidden" name="id" value="">
    <dl>
      <dt><b>Job</b>
      <dd><select name="class_name">
        {% for cls in classes %}
          <option value="{{ cls.className }}">{{ cls.annotation.name }}</option>
        {% end %}
      </select>
      <dt><b>Parameters</b>
      <dd><input type="text" id="params" name="params">
      <dt><b>Schedule</b> (as "<code>h m</code>", * = 'any', numbers can be comma-separated, - for 'range', / for step values)
      <dd><input type="text" name="schedule">
      <dt></dt>
      <dd><input type="checkbox" id="enabled" name="enabled" checked><label for="enabled">Enabled</label></dd>
      <dt></dt>
      <dd><input type="checkbox" id="run_once" name="run_once"><label for="run_once">Run once</label></dd>
    </dl>
    <div class="popup-buttons">
      <input type="submit" value="Save">
      <input type="button" class="close" value="Close" />
    </div>
  </form>
</div>

<script>
  $("#newjob-link").click(function(event) {
    event.preventDefault();
    var container = $("#edit-cron");
    $("form", container).trigger("reset");
    container.popup();
  });

  function runJob(id) {
    $.ajax({
      url: "/realms/{{realm}}/admin/cron",
      type: "POST",
      data: {
        "action": "run-now",
        "id": id
      },
      success: function(data) {
        location.reload();
      },
      error: function(xhr, status, err) {
        alert("An error occurred, check server logs: " + xhr.status);
      }
    });
  }

  function editJob(id, className, params, schedule, enabled, runOnce) {
    var container = $("#edit-cron");
    $("form", container).trigger("reset");
    $("form input[name=id]", container).val(id);
    $("form select[name=class_name]", container).val(className);
    $("form input[name=params]", container).val(params);
    $("form input[name=schedule]", container).val(schedule);
    $("form input[name=enabled]").prop("checked", enabled);
    $("form input[name=run_once]").prop("checked", runOnce);
    container.popup();
  }
</script>
{% end %}
