{% extends "admin/skeleton.html" %}
{% block title %}Empires{% endblock %}
{% block head %}
  <script src="/realms/{{realm}}/js/tmpl.js"></script>
  <style>
    #search-results {
      position: absolute;
      top: 95pt;
      left: 560pt;
      right: 10pt;
      bottom: 10pt;
      border: solid 1px #666;
      overflow-y: scroll;
      white-space: pre;
      font-family: monospace;
    }
    #search-time {
        position: absolute;
        top: 80pt;
        left: 560pt;
    }
    form {
      position: relative;
      height: 28pt;
      line-height: 28pt;
      width: 555pt;
    }
    form input[type=submit] {
      position: absolute;
      right: 0;
    }
    form div.hack {
      position: absolute;
      top: 0; left: 60pt;
      bottom: 4pt; right: 185pt;;
    }
    input[type=text] {
      width: 98%;
      height: 100%;
      padding: 0;
      padding-left: 1%;
      border: solid 1px black;
    }
    form label {
      display: block;
      position: absolute;
      left: 0; width: 60pt;
      top: 0; bottom: 0;
    }
    form#find-byemailidname input[type=submit] {
      right: 120pt;
    }

    form#empire-query input[value="Cash Audit"] {
      position: absolute;
      right: 100pt;
    }
    form#empire-query input[value="Building Stats"] {
      position: absolute;
      right: 0;
    }

    table {
      width: 560pt;
    }
    div.spinner {
    }

  </style>
{% endblock %}

{% block content %}
  <h1>Empires</h1>
  <p>To find the details of a given Empire, enter the email address below of the user
     who owns the Empire, or the Empire's key, then click &ldquo;Search&rdquo;.
  <div id="search-time"></div>
  <div id="search-results"></div>
  <form id="find-byemailidname">
    <label for="search-email">Search:</label>
    <div class="hack"><input type="text" id="search-value" placeholder="Key, email or name" /></div>
    <input type="submit" value="Search" />
  </form>
  <form id="empire-query">
    <label for="empire-key">Key:</label>
    <div class="hack"><input type="text" id="empire-key" placeholder="Empire key" /></div>
    <input type="submit" value="Cash Audit" />
    <input type="submit" value="Building Stats" />
  </form>
  <table id="empire-list">
    <thead>
      <tr>
        <th width="20"></th>
        <th width="40">Shield</th>
        <th>Name</th>
        <th width="20" align="center">Rank</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      
    </tfoot>
  </table>
  <script type="text/html" id="empire-row">
    <tr>
      <td align="center"><%=key%></td>
      <td align="center"><img src="/realms/{{realm}}/empires/<%=key%>/shield?final=1&size=32" width="32" height="32" /></td>
      <td><a href="javascript:;" class="empire-name" data-id="<%=key%>"><%=display_name%></a><br/><span style="color: #aaa;"><%=email%></span></td>
      <td align="center"><%=rank.rank%></td>
    </tr>
  </script>
  <script>
    $("#find-byemailidname").on("submit", function(evnt) {
      evnt.preventDefault();

      var query;
      var $inp = $("#search-value");
      if ($inp.val().indexOf("@") > 0) {
        query = "email="+$inp.val();
      } else if (parseInt($inp.val()) == $inp.val()) {
        query = "ids="+$inp.val();
      } else {
        query = "name="+$inp.val();
      }
      fetchEmpireList(query);
    });

    function zeroPad(str, n) {
      var padded = "0000000000"+str;
      return padded.substr(padded.length - n);
    }
    function spacePad(str, n) {
      var padded = "                                           "+str;
      return padded.substr(padded.length - n);
    }

    $("#empire-query").on("click", ":submit", function(evnt) {
      evnt.preventDefault();
      if($(this).val() == "Cash Audit") {
        var url = "/realms/{{realm}}/empires/"+$("#empire-key").val()+"/cash-audit";
        $.ajax({
          url: url,
          type: "GET",
          dataType: "json",
          success: function(data) {
            var text = "";
            text += spacePad("Date", 19);
            text += " | "+spacePad("Before", 10);
            text += " | "+spacePad("After", 10);
            text += " | "+spacePad("Reason", 20);
            text += "\r\n";
            for(var i = 0; i < data.records.length; i++) {
              var entry = data.records[i];
              var dt = new Date(entry["time"] * 1000);
              text += zeroPad(dt.getFullYear(), 4)+"-"+zeroPad(dt.getMonth()+1, 2)+"-"+zeroPad(dt.getDate(), 2);
              text += " "+zeroPad(dt.getHours(), 2)+":"+zeroPad(dt.getMinutes(), 2)+":"+zeroPad(dt.getSeconds(), 2);
              text += " | "+spacePad(parseInt(entry["before_cash"]), 10);
              text += " | "+spacePad(parseInt(entry["after_cash"]), 10);
              var reason = entry["reason"];
              if (!reason) {
                if (entry["accelerate_amount"]) {
                  reason = "AccelerateBuild";
                } else if (entry["move_distance"]) {
                  reason = "FleetMove";
                }
              }
              text += " | "+spacePad(reason, 20);
              if (reason == "FleetMove") {
                text += " | fleet_id="+entry["fleet_id"];
                text += " design_id="+entry["fleet_design_id"];
                text += " x "+entry["num_ships"];
                text += " distance="+entry["move_distance"];
                text += " destination="+entry["star_name"]+" "+entry["star_id"]; 
              } else if (reason == "AccelerateBuild") {
                text += " | design_id="+entry["build_design_id"];
                text += " x "+entry["build_count"];
                text += " accelerate_amount="+parseInt(entry["accelerate_amount"] * 100.0)+"%";
              }
              text += "\r\n";
            }
            $("#search-results").html(text);
          },
          error: function(xhr, status, err) {
            alert("An error occured, check server logs: " + xhr.status);
          }
        });
      } else {
        var url = "/realms/{{realm}}/empires/"+$("#empire-key").val()+"/building-statistics";
        $.ajax({
          url: url,
          type: "GET",
          dataType: "json",
          success: function(data) {
            $("#search-results").html(JSON.stringify(data, null, "  "));
          },
          error: function(xhr, status, err) {
            alert("An error occured, check server logs: " + xhr.status);
          }
        });
      }
    });

    $("#empire-list").on("click", "a.empire-name", function() {
      $.ajax({
          url: "/realms/{{realm}}/empires/search?ids="+$(this).data("id"),
          dataType: "json",
          success: function (data, status, xhr) {
            setTimeout(function() {
              $("#search-time").html("<b>Time:</b> "+xhr.elapsedMs+"ms");
            }, 10);
            $("#search-results").html(JSON.stringify(data, null, "  "));
          },
          error: function(xhr, status, err) {
            if (xhr.status == 404) {
              $("#search-results").val("No empire!");
            } else {
              alert("An error occured, check server logs: " + xhr.status);
            }
          }
        });
    });

    function fetchEmpireList(query) {
      var $tbody = $("#empire-list tbody");
      $tbody.html("<tr><td colspan=\"4\"><div class=\"spinner\"></div></td></tr>");

      $.ajax({
          url: "/realms/{{realm}}/empires/search?"+query,
          dataType: "json",
          success: function(data) {
            showEmpireList(data.empires);
          }
        });
    }

    function showEmpireList(empires) {
      var rowTmpl = $("#empire-row");
      var $tbody = $("#empire-list tbody");
      $tbody.empty();
      for (var i = 0; i < empires.length; i++) {
        var empire = empires[i];
        $tbody.append(rowTmpl.applyTemplate(empire));
      }
//      alert(JSON.stringify(empires));
    }

    $(function() {
      fetchEmpireList("minRank=1&maxRank=50");
    });
  </script>
{% endblock %}