{% extends "admin/skeleton.html" %}
{% block title %}Error Reports{% endblock %}
{% block head %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <style>
    div.stack-trace {
      white-space: pre-wrap;
      font-family: monospace;
    }
    div.details-extra {
      float: right;
      border: solid 2pt #999;
      border-radius: 5pt;
      padding: 1em;
      margin: 0.5em;
    }

    div.details-extra dl {
        margin: 0;
    }
    div.details-extra dt {
        float: left;
        clear: both;
        font-weight: bold;
    }
    div.details-extra dd {
        float: right;
    }

    form {
      display: inline;
    }
    form dl {
     margin: 0;
     float: right;
    }
    form input[type=submit] {
      display: block;
      float: right;
    }
    form dt {
      display: inline;
      line-height: 30px;
      font-weight: bold;
      margin-left: 1em;
    }
    form dd {
      display: inline;
      margin-left: 0.5em;
      line-height: 30px;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Error Reports</h1>
  <div id="histogram" style="width: 90%; margin: 0 auto; height: 150px;"></div>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn("date", "Date");
      dataTable.addColumn("number", "Client Errors");
      dataTable.addColumn("number", "Server Errors");
      dataTable.addColumn("number", "Empires Reporting");
      dataTable.addRows([
      {% for entry in error_histogram %}
        [new Date({{entry.year}}, {{entry.month}}+1, {{entry.day}}), {{entry.num_client_errors}}, {{entry.num_server_errors}}, {{entry.num_empires_reporting}}],
      {% endfor %}
      ]);

      var dataView = new google.visualization.DataView(dataTable);
      var width = $("#histogram").width();
      var height = 150;
      var options = {
        "chartArea": {left: 40, top: 10, width: width - 250, height: height - 40},
        "backgroundColor": {fill: "transparent"},
        "vAxis": {viewWindow: {max: {{error_histogram_max}} } }
      };

      var chart = new google.visualization.LineChart(document.getElementById("histogram"));
      chart.draw(dataView, options);
    }
  </script>

  <form method="get">
    <input type="hidden" name="cursor" value="{{curr_cursor}}">
    <input type="submit" value="Filter">
    <dl>
      <dt>Empire:
      <dd><input type="text" name="empire" value="{{curr_empire}}">
      <dt>Search:
      <dd><input type="text" name="q" value="{{curr_q}}">
      <dt>Source:
      <dd><select name="source">
        <option value="both">Both</option>
        <option value="server"{% if curr_source|equal:"server" %} selected{% endif %}>Server</option>
        <option value="client"{% if curr_source|equal:"client" %} selected{% endif %}>Client</option>
      </select>
    </dl>
  </form>
  <table border="1" cellpadding="4" cellspacing="0" style="width: 100%;">
    <tr><th>Time</th><th>Empire</th><th>Version</th><th>Context</th><th>Exception</th><th>Details</th></tr>
  {% for error_report in error_reports %}
    <tr>
      <td><script>
        (function() {
          var dt = new Date("{{error_report.report_time}}");
          document.write(dt.toLocaleString());
        })();
      </script></td>
      <td>
        {% if error_report.empire_id %}
          [<a href="mailto:{{error_report.empire_email}}">{{error_report.empire_id}}</a>] {{error_report.empire_name}}
        {% else %}
          <em>Server</em>
        {% endif %}
      </td>
      <td>{{error_report.app_version}}</td>
      <td>{{error_report.context}}</td>
      <td>{{error_report.exception_class}}</td>
      <td><a href="javascript:;" id="show-hide-{{loop.counter}}">Show</a><script>
        $(function() {
          var $a = $("#show-hide-{{loop.counter}}");
          var $tr = $("#row-{{loop.counter}}");
          $a.click(function() {
            if ($a.html() == "Show") {
              $a.html("Hide");
              $tr.show();
            } else {
              $a.html("Show");
              $tr.hide();
            }
          });
        })();
      </script> &bull;
      <a href="javascript:;" id="delete-{{loop.counter}}">Delete</a><script>
        $(function() {
          var $a = $("#delete-{{loop.counter}}");
          var $tr = $("#row-{{loop.counter}}");
          $a.click(function() {
            $a.parents("tr").hide();
            $tr.hide();
            var dt = new Date("{{error_report.report_time}}");
            $.post("error-reports?action=delete&ts="+dt.getTime()+"&e={{error_report.empire_id}}");
          })
        });
      </script></td>
    </tr>
    <tr style="display: none;" id="row-{{loop.counter}}">
      <td colspan="6">
        <div class="details-extra">
          <dl>
            <dt>Heap size:
            <dd>{{error_report.heap_size|number}}
            <dt>Allocated:
            <dd>{{error_report.heap_allocated|number}}
            <dt>Free:
            <dd>{{error_report.heap_free|number}}
            {% if error_report.empire_id %}
              <dt>Android:
              <dd>{{error_report.android_version}}
              <dt>Phone:
              <dd>{{error_report.phone_model}}
              <dt>Run time:
              <dd>{{error_report.total_run_time|number}} ms
              <dt>FG time:
              <dd>{{error_report.foreground_run_time|number}} ms
            {% endif %}
          </dl>
        </div>
        <div class="stack-trace">{% if error_report.log_buffer %}{{error_report.log_buffer|escape}}{% else %}{{error_report.stack_trace|escape}}{% endif %}</div>
        <div style="clear: both;"></div>
      </td>
    </tr>
  {% endfor %}
  </table>
  <p><a href="?cursor={{cursor}}{% if curr_empire %}&empire={{curr_empire}}{% endif %}">Next Page &gt;&gt;</a></p>
{% endblock %}
