{% extends "admin/skeleton.html" %}
{% block title %}Purchases{% endblock %}
{% block head %}
  <style>
    tr.stack-trace td {
      white-space: pre-wrap;
      font-family: monospace;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Error Reports</h1>
  <script>
    function display_extra(extra) {
      if (!extra.purchase_info) {
        return;
      }

      if (extra.purchase_info.sku == "rename_empire") {
        document.write("<div><span class='name'>Old name</span>: <span class='value'>"+extra.old_name+"</span></div>");
        document.write("<div><span class='name'>New name</span>: <span class='value'>"+extra.new_name+"</span></div>");
      } else if (extra.purchase_info.sku == "decorate_empire") {
        document.write("<img src='data:image/png;base64,"+extra.png_image+"' />");
      } else if (extra.purchase_info.sku == "star_rename") {
        document.write("<div><span class='name'>Old name</span>: <span class='value'>"+extra.old_name+"</span></div>");
        document.write("<div><span class='name'>New name</span>: <span class='value'>"+extra.new_name+"</span></div>");
      }
    }
  </script>
  <table border="1" cellpadding="4" cellspacing="0" style="width: 100%;">
    <tr><th>Time</th><th>Empire</th><th>Version</th><th>Context</th><th>Exception</th><th>Details</th></tr>
  {% for error_report in error_reports %}
    <tr>
      <td><script>
        var dt = new Date("{{error_report.report_time}}");
        document.write(dt.toLocaleString());
      </script></td>
      <td>[{{error_report.empire_id}}] {{error_report.empire_name}}</td>
      <td>{{error_report.app_version}}</td>
      <td>{{error_report.context}}</td>
      <td>{{error_report.exception_class}}</td>
      <td><a href="javascript:;" id="show-hide-{{loop.counter}}">Show</a><script>
        $(function() {
          var $a = $("#show-hide-{{loop.counter}}");
          var $tr = $("#row-{{loop.counter}}");
          $a.click(function() {
            if ($a.html() == "Show") {
              $a.html("Hide");
              $tr.show();
            } else {
              $a.html("Show");
              $tr.hide();
            }
          });
        })();
      </script></td>
    </tr>
    <tr class="stack-trace" style="display: none;" id="row-{{loop.counter}}">
      <td colspan="6">{{error_report.stack_trace}}</td>
    </tr>
  {% endfor %}
  </table>
  <p><a href="?cursor={{cursor}}">Next Page &gt;&gt;</a></p>
{% endblock %}
