{% extends "admin/skeleton.html" %}
{% block title %}Error Reports{% endblock %}
{% block head %}
  <style>
    tr.stack-trace td {
      white-space: pre-wrap;
      font-family: monospace;
    }

    form {
      display: inline;
    }
    form dl {
     margin: 0;
     float: right;
    }
    form input[type=submit] {
      display: block;
      float: right;
    }
    form dt {
      display: inline;
      line-height: 30px;
      font-weight: bold;
      margin-left: 1em;
    }
    form dd {
      display: inline;
      margin-left: 0.5em;
      line-height: 30px;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Error Reports</h1>
  <form method="get">
    <input type="hidden" name="cursor" value="{{curr_cursor}}">
    <input type="submit" value="Filter">
    <dl>
      <dt>Empire:</dt>
      <dd><input type="text" name="empire" value="{{curr_empire}}">
      <dt>Search:</dt>
      <dd><input type="text" name="q" value="{{curr_q}}"></dd>
    </dl>
  </form>
  <table border="1" cellpadding="4" cellspacing="0" style="width: 100%;">
    <tr><th>Time</th><th>Empire</th><th>Version</th><th>Context</th><th>Exception</th><th>Details</th></tr>
  {% for error_report in error_reports %}
    <tr>
      <td><script>
        (function() {
          var dt = new Date("{{error_report.report_time}}");
          document.write(dt.toLocaleString());
        })();
      </script></td>
      <td>[<a href="mailto:{{error_report.empire_email}}">{{error_report.empire_id}}</a>] {{error_report.empire_name}}</td>
      <td>{{error_report.app_version}}</td>
      <td>{{error_report.context}}</td>
      <td>{{error_report.exception_class}}</td>
      <td><a href="javascript:;" id="show-hide-{{loop.counter}}">Show</a><script>
        $(function() {
          var $a = $("#show-hide-{{loop.counter}}");
          var $tr = $("#row-{{loop.counter}}");
          $a.click(function() {
            if ($a.html() == "Show") {
              $a.html("Hide");
              $tr.show();
            } else {
              $a.html("Show");
              $tr.hide();
            }
          });
        })();
      </script> &bull;
      <a href="javascript:;" id="delete-{{loop.counter}}">Delete</a><script>
        $(function() {
          var $a = $("#delete-{{loop.counter}}");
          var $tr = $("#row-{{loop.counter}}");
          $a.click(function() {
            $a.parents("tr").hide();
            $tr.hide();
            var dt = new Date("{{error_report.report_time}}");
            $.post("error-reports?action=delete&ts="+dt.getTime()+"&e={{error_report.empire_id}}");
          })
        });
      </script></td>
    </tr>
    <tr class="stack-trace" style="display: none;" id="row-{{loop.counter}}">
      <td colspan="6">{{error_report.stack_trace}}</td>
    </tr>
  {% endfor %}
  </table>
  <p><a href="?cursor={{cursor}}{% if curr_empire %}&empire={{curr_empire}}{% endif %}">Next Page &gt;&gt;</a></p>
{% endblock %}
