{% extends "admin/skeleton.html" %}
{% block "title" %}Purchases{% end %}
{% block "head" %}
  <style>
    span.name {
      font-weight: bold;
    }
  </style>
{% end %}

{% block "content" %}
  <h1>Purchases ({{ page_no }})</h1>
  <script>
    function display_extra(extra) {
      if (!extra.purchase_info) {
        return;
      }

      if (extra.purchase_info.sku == "rename_empire") {
        document.write("<div><span class='name'>Old name</span>: <span class='value'>"+extra.old_name+"</span></div>");
        document.write("<div><span class='name'>New name</span>: <span class='value'>"+extra.new_name+"</span></div>");
      } else if (extra.purchase_info.sku == "decorate_empire") {
        document.write("<img src='data:image/png;base64,"+extra.png_image+"' style='max-width: 200px;' />");
      } else if (extra.purchase_info.sku == "star_rename") {
        document.write("<div><span class='name'>Old name</span>: <span class='value'>"+extra.old_name+"</span></div>");
        document.write("<div><span class='name'>New name</span>: <span class='value'>"+extra.new_name+"</span></div>");
      }
    }
  </script>
  <table border="1" cellpadding="4" cellspacing="0">
    <tr><th>Time</th><th>Empire</th><th>Purchase</th><th>Price</th><th>Details</th></tr>
  {% for purchase in purchases %}
    <tr>
      <td>{{purchase.time}}</td>
      <td>{{purchase.empireName}}</td>
      <td>{{purchase.sku}}</td>
      <td>{{purchase.price}}</td>
      <td><script>
        var extra = {{purchase.skuExtra}};
        display_extra(extra);
      </script></td>
    </tr>
  {% end %}
  </table>
  <div style="text-align: center;">
    {{ total_pages }} page(s)
  </div>
  <div style="text-align: center; margin-bottom: 20pt;">
  {% if page_no > 1 %}
    <a href="?page={{ page_no - 1 }}">&lt;- Previous</a>
  {% end %}
  {% if total_pages > page_no %}
    {% if page_no > 1 %}
      &bull;
    {% end %}
    <a href="?page={{ page_no + 1 }}">Next -&gt;</a>
  {% end %}
  </div>
{% end %}
