{% extends "admin/skeleton.html" %}
{% block title %}Reports{% endblock %}
{% block head %}
    <style>
        #update-form textarea {
            width: 800px;
            height: 400px;
        }

        form {
            position: relative;
            height: 28pt;
            line-height: 28pt;
            width: 500pt;
        }
        form#sitrep-form {
            height: 56pt;
        }
        form input[type=submit] {
            position: absolute;
            right: 0;
        }
        form input[type=text] {
            position: absolute;
            top: 0; left: 60pt;
            bottom: 0; right: 70pt;
            border: solid 1px black;
        }
        form label {
            display: block;
            position: absolute;
            left: 0; width: 60pt;
            top: 0; bottom: 0;
        }

        form#combat-reports-form input[type=text] {
            right: 108pt;
        }

        form#combat-report-form input[type=text] {
            right: 105pt;
        }

        form#scout-report-form input[type=text] {
            right: 95pt;
        }
        form#sitrep-form input[name=sitrepKey] {
            bottom: 50%;
        }
        form#sitrep-form input[name=sitrepCursor] {
            top: 50%;
        }
        #output {
            position: absolute;
            width: 800px;
            bottom: 0;
            top: 268px;
            overflow: auto;
            white-space: pre;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Reports</h1>
    <form id="scout-report-form">
        <label>Star:</label>
        <input type="text" name="starKey" value="">
        <input type="submit" value="Scout Report">
    </form>
    <form id="combat-reports-form">
        <label>Star:</label>
        <input type="text" name="starKey" value="">
        <input type="submit" value="Combat Reports">
    </form>
    <form id="combat-report-form">
        <label>Report:</label>
        <input type="text" name="combatReportKey" value="">
        <input type="submit" value="Combat Report">
    </form>
    <form id="sitrep-form">
        <label>Sit. Rep.:</label>
        <input type="text" name="sitrepKey" value="" placeholder="Star Key, or blank for all">
        <input type="submit" value="Fetch"><br/>
        <input type="text" name="sitrepCursor" value="" placeholder="Cursor (optional)">
    </form>
    <div id="output"></div>
    <script>
        $("#scout-report-form").on("submit", function(evnt) {
            evnt.preventDefault();
            var $starKey = $("#scout-report-form input[name=starKey]");

            $("#output").text("");
            var url = "/admin/debug/reports-ajax?starKey="+$starKey.val()+"&action=scout-reports";
            $.ajax({
                url: url,
                dataType: "json",
                success: function(data) {
                    $("#output").text(JSON.stringify(data, null, "  "));
                },
                error: function() {
                    alert("An error occured fetching starfield data. Check server logs.");
                }
            });
        });

        $("#combat-reports-form").on("submit", function(evnt) {
            evnt.preventDefault();
            var $starKey = $("#combat-reports-form input[name=starKey]");

            $("#output").text("");
            var url = "/realms/{{realm}}/stars/"+$starKey.val()+"/combat-reports";
            $.ajax({
                url: url,
                dataType: "json",
                success: function(data) {
                    $("#output").text(JSON.stringify(data, null, "  "));
                },
                error: function() {
                    alert("An error occured fetching starfield data. Check server logs.");
                }
            });
        });

        $("#combat-report-form").on("submit", function(evnt) {
            evnt.preventDefault();
            var $combatReportKey = $("#combat-report-form input[name=combatReportKey]");

            $("#output").text("");
            var url = "/realms/{{realm}}/stars/123/combat-reports/"+$combatReportKey.val();
            $.ajax({
                url: url,
                dataType: "json",
                success: function(data) {
                    $("#output").text(JSON.stringify(data, null, "  "));
                },
                error: function() {
                    alert("An error occured fetching starfield data. Check server logs.");
                }
            });
        });

        $("#sitrep-form").on("submit", function(evnt) {
            evnt.preventDefault();

            var $sitrepKey = $("#sitrep-form input[name=sitrepKey]");
            var $sitrepCursor = $("#sitrep-form input[name=sitrepCursor]");

            $("#output").text("");
            var url = "/realms/{{realm}}/sit-reports";
            if ($sitrepKey.val() != "") {
                url = "/realms/{{realm}}/stars/"+$sitrepKey.val()+"/sit-reports";
            }
            if ($sitrepCursor.val() != "") {
                url += "?cursor="+$sitrepCursor.val();
            }
            $.ajax({
                url: url,
                dataType: "json",
                success: function(data) {
                    $("#output").text(JSON.stringify(data, null, "  "));
                },
                error: function() {
                    alert("An error occured fetching starfield data. Check server logs.");
                }
            });
        });
    </script>
{% endblock %}