{% extends "admin/skeleton.html" %}
{% block title %}Starfield{% endblock %}
{% block head %}
    <style>
        #update-form textarea {
            width: 800px;
            height: 400px;
        }

        form {
            position: relative;
            height: 28pt;
            line-height: 28pt;
            width: 500pt;
        }
        form input[type=submit] {
            position: absolute;
            right: 0;
        }
        form input[type=text] {
            position: absolute;
            top: 0; left: 60pt;
            bottom: 0; right: 70pt;
            border: solid 1px black;
        }
        form label {
            display: block;
            position: absolute;
            left: 0; width: 60pt;
            top: 0; bottom: 0;
        }

        form#star-simulate-form input[type=text] {
            right: 180pt;
        }

        form#star-simulate-form label[for=star-simulate-update] {
             left: auto;right: 100pt;
        }

        form#star-simulate-form input[type=checkbox] {
             display: block;
             position: absolute;
             right: 162pt; top: 6pt;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Starfield</h1>
    <p>Enter the coordinates of the sector you want to look at, and click &ldquo;Display&rdquo;.
    <form id="sector-input-form">
        <label>Sectors:</label>
        <input type="text" name="coords" placeholder="x,y|x,y|x,y|...">
        <input type="submit" value="Display">
    </form>
    <form id="star-input-form">
        <label>Star:</label>
        <input type="text" name="starKey" value="">
        <input type="submit" value="Display">
    </form>
    <form id="star-simulate-form">
        <label>Star:</label>
        <input type="text" name="starKey" value="">
        <input type="checkbox" name="update" id="star-simulate-update">
        <label for="star-simulate-update">Update</label>
        <input type="submit" value="Simulate">
    </form>
    <form id="update-form">
        <textarea name="sectors"></textarea>
    </form>
    <script>
        $("#sector-input-form").on("submit", function(evnt) {
            evnt.preventDefault();
            var $coords = $("#sector-input-form input[name=coords]");

            $("#update-form textarea").val("");
            var coords = $coords.val();
            $.ajax({
                url: "/api/v1/sectors?coords="+coords,
                dataType: "json",
                success: function (data) {
                    $("#update-form textarea").val(JSON.stringify(data, null, "  "));
                },
                error: function() {
                    alert("An error occured fetching starfield data. Check server logs.");
                }
            });
        });

        $("#star-input-form").on("submit", function(evnt) {
            evnt.preventDefault();
            var $starKey = $("#star-input-form input[name=starKey]");

            $("#update-form textarea").val("");
            var url = "/api/v1/stars/"+$starKey.val();
            $.ajax({
                url: url,
                dataType: "json",
                success: function(data) {
                    $("#update-form textarea").val(JSON.stringify(data, null, "  "));
                },
                error: function() {
                    alert("An error occured fetching starfield data. Check server logs.");
                }
            });
        });

        $("#star-simulate-form").on("submit", function(evnt) {
            evnt.preventDefault();
            var $starKey = $("#star-simulate-form input[name=starKey]");

            $("#update-form textarea").val("");
            var url = "/api/v1/stars/"+$starKey.val()+"/simulate";
            if ($("#star-simulate-update").prop("checked")) {
            	url += "?update=1";
            }

            $.ajax({
                url: url,
                type: "POST",
                success: function(data) {
                    $("#update-form textarea").val(data);
                },
                error: function() {
                    alert("An error occured simulating the star. Check server logs.");
                }
            });
        });
    </script>
{% endblock %}