{% extends "admin/skeleton.html" %}
{% block title %}Users{% endblock %}
{% block head %}
  <script src="/realms/{{realm}}/js/popup.js"></script>
{% endblock %}
{% block content %}
  <h1>Users</h1>
  <p>Below are the users who have access to the backend, and the roles they have assigned.</p>
  <p><a href="javascript:;" id="newuser-link" class="button">New User</a></p>
  <table>
    <tr>
      <th>Email</th>
      <th>Roles</th>
      <th>Last login</th>
      <th></th>
    </tr>
  {% for user in users %}
    <tr>
      <td>{{user.email}}</td>
      <td>
      {% for role in user.roles %}
        {{role}}
      {% endfor %}
      </td>
      <td>{{user.lastLogin}}</td>
      <td><a href="javascript:editUser({{user.ID}});">Edit</a></td>
    </tr>
  {% endfor %}
  </table>
  <div id="edituser" class="popup">
    <h2>New User</h2>
    <form action="/realms/{{realm}}/admin/users" method="post">
    <input type="hidden" name="id" value="">
    <dl>
      <dt><b>Email</b>
      <dd><input type="email" name="email" style="width: 300pt;">
      <dt><b>Roles</b>
      <dd>{% for role in roles %}<div>
        <input type="checkbox" id="role-{{role}}" name="role-{{role}}">
        <label for="role-{{role}}">{{role}}</label>
      </div>{% endfor %}
    </dl>
    <div class="popup-buttons">
      <input type="submit" value="Create">
      <input type="button" class="close" value="Close" />
    </div>
    </form>
  </div>
  <script>
    $("#newuser-link").click(function() {
      $("input[name=email]").val("");
      $("input[type=checkbox]").prop("checked", false);
      $("input[type=submit]").attr("value", "Create");
      $("#edituser h2").html("New User");
      {% for role in user.roles %}
      {% endfor %}
      $("#edituser").popup();
    });

    function editUser(id) {
      // Not particularly efficient, but easy.
    {% for user in users %}
      if (id == {{user.ID}}) {
        $("input[name=email]").val("{{user.email}}");
        $("input[type=checkbox]").prop("checked", false);
        {% for role in user.roles %}
          $("input[name=role-{{role}}]").prop("checked", true);
        {% endfor %}
      }
    {% endfor %}
      $("#edituser h2").html("Edit User");
      $("input[type=submit]").attr("value", "Save");
      $("#edituser").popup();
    }
  </script>
{% endblock %}
