<p>Recent logins go here.</p>


<table>
  <tr>
    <th>Date</th>
    <th>Device</th>
    <th>Version</th>
    <th>Client ID</th>
  </tr>
  {% for login in logins %}
    <tr>
      <td><time timestamp="{{ login.date / 1000 }}">{{ login.date }}</time></td>
      <td>{{ login.deviceManufacturer }} | {{ login.deviceModel }} | {{ login.deviceBuild }}</td>
      <td>{{ login.version }}</td>
      <td>{{ clientIds[login.clientId] }}</td>
    </tr>
    {% if login.accessibilitySettings && login.accessibilitySettings.serviceList.size() > 0 %}
    <tr>
      <td colspan="2">
        <table>
          <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Capabilities</th>
          </tr>
          {% for service in login.accessibilitySettings.serviceList %}
            <tr>
              <td>&nbsp;&nbsp;&nbsp;</td>
              <td>{{ service.name }}</td>
              <td>{{ service.capabilityList }}</td>
            </tr>
          {% end %}
        </table>
      </td>
    </tr>
    {% end %}
  {% end %}
</table>

<script>
  fix_times();
</script>