<h1>[# {{empire_id}}] {{empire.displayName}}</h1>
<p><b>Email: </b> {{empire.emailAddr}}</p>
<p><b>State: </b> {{empire.state}}</p>
<p><b>Cash: </b> ${{empire.cash}}</p>
{% if empire.rank != null %}
<p><b>Rank: </b> <b>{{ empire.rank.rank }}</b>
  Stars: {{ empire.rank.totalStars }}
  Colonies: {{ empire.rank.totalColonies }}
  Ships: {{ empire.rank.totalShips }}
  Building: {{ empire.rank.totalBuildings }}
  Population: {{ empire.rank.totalPopulation }}</p>
{% end %}

<p><b>Home star</b></p>
{% if empire.homeStar != null %}
<p>{{ empire.homeStar.name }}</p>
{% else %}
<p><em>None</em></p>
{% end %}

<p><b>Alliance</b></p>
{% if empire.alliance != null %}
<p>{{ empire.alliance.name }}</p>
{% else %}
<p><em>None</em></p>
{% end %}

<div id="requestsGraph" style="width: 100%; margin: 0 auto;"></div>
<script type="text/javascript">
  var data = [
  {% for entry in request_graph %}
    [
      new Date({{ entry.date.getMillis() }}),
      {{ entry.total }},
      {{ entry.empireRequests }},
      {{ entry.empireNotRateLimited }},
      {{ entry.empireSoftRateLimited }},
      {{ entry.empireHardRateLimited }},
    ],
  {% end %}
  ];

  renderRequestGraph(document.getElementById("requestsGraph"), data);
</script>
