{% extends "admin/skeleton.html" %}
{% block "title" %}Ban Empire{% end %}

{% block "head" %}
  <style>
    form div.field label {
      display: inline-block;
      width: 50pt;
    }
    form div.field input[type=text] {
      width: 300pt;
      border: solid 1px #666;
      padding: 4pt;
    }
    p.big-warning {
      border: solid 3px #a00;
      background: #f99;
      padding: 8pt;
      width: 300pt;
    }
  </style>
{% end %}

{% block "content" %}
  <h1>Ban Empire</h1>
  <p class="big-warning">
    Banning an empire means they will no longer be able to log in and will receive a message that
    they are no longer welcome.
  </p>
  {% if complete %}
    <p class="{% if success %}success{% else %}error{% endif %}">
      {% if msg %}{{ msg }}{% else %}Empire has been banned!{% end %}
    </p>
  {% end %}
  <form method="post">
    <div class="field">
      <label for="empire_id">Empire:</label>
      <input type="text" name="empire_id" id="empire_id"
             value="{{empire_id}}" placeholder="Empire ID">
    </div>
    <div class="field">
      <input type="submit" value="BAN">
    </div>
  </form>
{% end %}
