{% extends "admin/skeleton.html" %}
{% block "title" %}Empires{% end %}
{% block "head" %}
  <script src="/realms/{{realm}}/js/tmpl.js"></script>
  <script src="/realms/{{realm}}/js/hashparams.js"></script>
  <script src="/realms/{{realm}}/js/tabs.js"></script>
  <script src="/realms/{{realm}}/js/time.js"></script>
  <link rel="stylesheet" href="/realms/{{realm}}/admin/empire/search.css">
{% end %}

{% block "content" %}
  <div id="refresh-ranks">
    <input type="button" value="Refresh ranks" title="Click here to refresh the ranks now.">
  </div>
  <h1>Empires</h1>
  <p>To find the details of a given Empire, enter the email address below of the user
     who owns the Empire, or the Empire's key, then click &ldquo;Search&rdquo;.
  <div id="search-time"></div>
  <div id="search-results"></div>
  <form id="find-byemailidname">
    <label for="search-value">Search:</label>
    <div class="hack"><input type="text" id="search-value" placeholder="Key, email or name" /></div>
    <input type="submit" value="Search" />
  </form>
  <form id="empire-query">
    <label for="empire-key">Key:</label>
    <div class="hack"><input type="text" id="empire-key" placeholder="Empire key" /></div>
    <input type="submit" value="Cash Audit" />
    <input type="submit" value="Building Stats" />
  </form>
  <table id="empire-list">
    <thead>
      <tr>
        <th width="20"></th>
        <th width="40">Shield</th>
        <th>Name</th>
        <th width="20" align="center">Rank</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      
    </tfoot>
  </table>
  <script type="text/html" id="empire-row">
    <tr>
      <td align="center"><%=key%></td>
      <td align="center"><img src="/realms/{{realm}}/empires/<%=key%>/shield?final=1&size=32" width="32" height="32" /></td>
      <td>
        <a href="javascript:;" class="empire-name" data-id="<%=key%>">
          <%=display_name%>
        </a>
        <div style="color: #aaa;" class="email-addr"><%=email%></div></td>
      <td align="center"><% if (rank) { %><%=rank.rank%><% } %></td>
    </tr>
  </script>
  <script type="text/html" id="empire-details">
    <ul class="tabs">
      <li><a href="javascript:;" data-tab="empire-details-tab" class="selected">Details</a>
      <li><a href="javascript:;" data-tab="empire-logins-tab">Recent logins</a>
    </ul>

    <div id="empire-details-tab">
      <h1>[# <%= key %>] <%= display_name %></h1>
      <p><b>Email: </b> <%= email %></p>
      <p><b>State: </b> <%= state %></p>
      <p><b>Cash: </b> $<%= cash64 %></p>
      <% if (rank) { %>
        <p><b>Rank: </b> <b><%= rank.rank %></b>
            Stars: <%= rank.total_stars %>
            Colonies: <%= rank.total_colonies %>
            Ships: <%= rank.total_ships %>
            Building: <%= rank.total_buildings %>
            Population: <%= rank.total_population %></p>
      <% } %>

      <p><b>Home star</b></p>
      <% if (home_star) { %>
        <p><%= home_star.name %></p>
      <% } else { %>
        <p><em>None</em></p>
      <% } %>

      <p><b>Alliance</b></p>
      <% if (alliance) { %>
        <p><%= alliance.name %></p>
      <% } else { %>
        <p><em>None</em></p>
      <% } %>
    </div>

    <div id="empire-logins-tab" style="display: none;">
      <a href="javascript:;" class="empire-logins-fetch" style="margin: 10pt;">Fetch</a>
    </div>
  </script>
  <script src="/realms/{{realm}}/admin/empire/search.js"></script>
{% end %}