{% extends "admin/skeleton.html" %}
{% block title %}Create Fleet{% endblock %}

{% block head %}
  <style>
    form div.field input[type=text] {
      width: 300pt;
      border: solid 1px #666;
      padding: 4pt;
    }
    form div.field input[type=number] {
      width: 100pt;
      border: solid 1px #666;
      padding: 4pt;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Create a fleet</h1>
  <p>Create a new fleet by entering it's details below. It'll be created IDLE and AGRESSIVE.</p>
  {% if complete %}
    <p class="{% if success %}success{% else %}error{% endif %}">{% if msg %}{{ msg }}{% else %}Fleet created!{% endif %}</p>
  {% endif %}
  <form method="post">
    <div class="field">
      <label for="star">Star:</label>
      <input type="text" name="star" id="star" value="{{star}}">
    </div>
    <div class="field">
      <label for="empire">Empire:</label>
      <input type="text" name="empire" id="empire" value="{{empire}}">
    </div>
    <div class="field">
      <label for="designName">Design:</label>
      <select name="designName" id="designName">
        <option value="fighter">Fighter</option>
        <option value="scout">Scout</option>
        <option value="troopcarrier">Troop Carrier</option>
        <option value="colonyship">Colony Ship</option>
      </select>
    </div>
    <div class="field">
      <label for="numShips"># Ships:</label>
      <input type="number" name="numShips" id="numShips" value="{{numShips}}">
    </div>
    <div class="field">
      <input type="submit" value="Create Fleet">
    </div>
  </form>
{% endblock %}