
#messages {
  position: absolute;
  top: 48pt;
  left: 0;
  right: 300px;
  bottom: 30pt;
  background-color: #222;
  overflow: scroll;
}

#rooms {
  position: absolute;
  top: 48pt;
  right: 0;
  width: 300px;
  bottom: 0;
  background-color: #333;
}

#send {
  position: absolute;
  left: 0;
  height: 30pt;
  bottom: 0;
  right: 300px;
}

#send input {
  width: 99%;
  margin-top: 2pt
}

.msg .header {
  border-top: solid 1px #333;
  height: 20px;
}

.msg .header time {
  float: right;
}

.msg .header div {
  float: left;
}

.msg .content.server {
  font-weight: bold;
  color: #0ff;
}
