
.left-column {
  width: 524px;
  float: left;
}

.right-column {
  float: left;
}

#starfield {
  width: 512px;
  height: 512px;
  border: dotted 1px white;
  background: #000;
  position: relative;
}

.starfield-star {
  position: absolute;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  background: url(../img/stars_small.png);
  transform: rotate(45deg) scale(0.5);
  cursor: pointer;
}

.starfield-label {
  position: absolute;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transform: translate(-50%, 16px);
  font-size: 10pt;
  cursor: pointer;
  -webkit-user-select: none;
}

.star-blackhole { background-position: 0px -128px; }
.star-blue { background-position: -64px -128px; }
.star-yellow { background-position: -128px -128px; }
.star-orange { background-position: 0px -192px; }
.star-red { background-position: -64px -192px; }
.star-white { background-position: -128px -192px; }
.star-neutron { width: 128px; height: 128px; margin: -64px 0 0 -64px; }

#star-details h1 {
  margin-left: 128px;
}

.star-big {
  background: url(../img/stars_big.png);
  width: 256px;
  height: 256px;
  margin: -128px 0 0 -128px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.star-big-blackhole { background-position: 0px 0px; }
.star-big-blue { background-position: 0px -256px; }
.star-big-neutron { background-position: 0px -512px; }
.star-big-orange { background-position: 0px -768px; }
.star-big-red { background-position: 0px -1024px; }
.star-big-white { background-position: 0px -1280px; }
.star-big-yellow { background-position: 0px -1536px; }

#search {
  width: 492px;
  margin-top: 10px;
}

.planets {
  margin-top: 100px;
}

.planets h2 {
  margin: 0;
}

.planet {
  clear: left;
  height: 64px;
}

.planet-icon {
  background: url(../img/planets.png);
  width: 64px;
  height: 64px;
  float: left;
}

.planet-icon-0 { background-position-x: 0; }
.planet-icon-1 { background-position-x: -64px; }
.planet-icon-2 { background-position-x: -128px; }
.planet-icon-3 { background-position-x: -192px; }

.planet-icon-asteroids { background-position-y: 0; }
.planet-icon-desert { background-position-y: -64px; }
.planet-icon-gasgiant { background-position-y: -128px; }
.planet-icon-inferno { background-position-y: -192px; }
.planet-icon-radiated { background-position-y: -256px; }
.planet-icon-swamp { background-position-y: -320px; }
.planet-icon-terran { background-position-y: -384px; }
.planet-icon-toxic { background-position-y: -448px; }
.planet-icon-water { background-position-y: -512px; }

.planets .planet-details {
  float: left;
}

.planets ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.planets ul li {
  float: left;
  margin-right: 10pt;
}

.planet .congeniality {
  display: inline-block;
  width: 50px;
  border: solid 1px white;
  height: 8px;
  line-height: 6px;
  margin-bottom: 3px;
}

.planet .congeniality span {
  display: inline-block;
  background: #0f0;
  height: 8px;
}

.colony {
  height: 64px;
  margin-left: 64px;
}

.colony img {
  float: left;
}