

fieldset#forum-details {
  width: 600pt;
  padding: 8pt;
}

div.forum-field {
  position: relative;
  height: 20pt;
}

div.forum-field div.hack {
  position: absolute;
  top: 0; left: 50pt;
  bottom: 0; right: 0;
}
div.forum-field input {
  width: 100%;
}

div.forum-field.forum-field-textarea {
  height: 100pt;
}

div.forum-field-textarea div.hack textarea {
  width: 100%;
  height: 92pt;
}
