
section.content {
  padding-bottom: 1em;
}

/* ------------------------------------------------------------------
 * Forum list
 */
div.forum-entry {
  height: 40pt;
  position: relative;
  border-top: solid 1px #ccc;
  margin-bottom: 1em;
  margin-top: 0.5em;
}
div.forum-title {
  position: absolute;
  top: 0; left: 0; bottom: 0;
  width: 50%;
}
div.forum-title h2 {
  margin: 0;
}
div.forum-stats {
  position: absolute;
  top: 0; bottom: 0;
  left: 50%;
  width: 80pt;
}
div.last-post {
  position: absolute;
  left: 50%;
  margin-left: 80pt;
  right: 0; top: 0; bottom: 0;
}

div.post-author img {
  vertical-align: middle;
}

div.forum-stats span {
  font-weight: bold;
}

div.last-post {
  font-size: 75%;
}

/* -----------------------------------------------------------------
 * Thread list
 */
div.thread-entry {
  height: 40pt;
  position: relative;
  border-top: solid 1px #ccc;
  margin-bottom: 1em;
  margin-top: 0.5em;
}
div.thread-title {
  position: absolute;
  top: 0; left: 0; bottom: 0;
  width: 50%;
}
div.thread-replycount {
  position: absolute;
  top: 0; bottom: 0;
  left: 50%;
  width: 80pt;
}
div.thread-details {
  position: absolute;
  left: 50%;
  margin-left: 80pt;
  right: 0; top: 0; bottom: 0;
}
div.thread-details img {
  vertical-align: middle;
}

div.forum-stats span {
  font-weight: bold;
}

div.thread-details {
  font-size: 75%;
}

/* ------------------------------------------------------------------
 * Post Viewing
 */

article.single-post header {
  border-bottom: solid 1px #ccc;
  padding-top: 10pt;
  margin-left: 70px;
}

article.single-post header time {
  font-weight: bold;
}

article.single-post header a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

article.single-post header span.controls {
  float: right;
}

article.single-post header span.controls a {
  font-weight: normal;
  color: #fff;
  margin-right: 8px;
}

article.single-post {
  margin-bottom: 2em;
}

article.single-post div.content {
  margin-left: 70px;
}

article.single-post div.content p:nth-child(1) {
  margin-top: 0;
}

article .poster-shield {
  float: left;
  margin-right: 6px;
  margin-top: 12px;
}

header.post-reply-header {
  font-weight: bold;
  border-bottom: dotted 1px #999;
}

/* ------------------------------------------------------------------
 * Post Editing
 */

fieldset {
  border: none;
  padding: 8pt 0 20pt 0;
}

div.forum-field {
  height: 20pt;
  position: relative;
  margin: 8pt 0;
}

div.forum-field label {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 75pt;
  line-height: 20pt;
}

div.forum-field.checkbox label {
  left: 90pt;
  width: auto;
}

div.forum-field div.hack {
  position: absolute;
  top: 0; left: 75pt; bottom: 0; right: 4pt;
}
div.forum-field input[type=text] {
  width: 100%;
  border: solid 1px #ccc;
  padding: 2pt 4pt;
}
div.forum-field div.read-only {
  margin-left: 75pt;
  border-left: solid 2pt #090;
  padding-left: 1em;
}

div.forum-field.forum-field-autoheight {
  height: auto;
}

div.forum-field.forum-field-markitup {
  height: 300pt;
}
div.forum-field.forum-field-markitup label {
  position: absolute;
  top: 0; left: 0; height: 20pt; width: 75pt;
  line-height: 20pt;
}
div.forum-field.forum-field-markitup textarea {
  width: 100%; height: 100%;
  border: solid 1px #ccc;
  padding: 2pt 4pt;
}

div.forum-field.forum-field-submit div.input-button {
  position: absolute;
  left: 75pt;
  top: 0;
  bottom: 0;
  right: auto;
  width: 112px;
}

div.forum-field.forum-field-submit div.input-button input {
  width: 120px;
}

/* ------------------------------------------------------------------------------
 * Pagination
 */

nav.pagination {
  height: 2em;
  padding-top: 1em;
  border-top: dashed 1px #ccc;
}

nav.pagination ul {
  margin: 0;
}

nav.pagination > span, nav.pagination > a, nav.pagination li {
  display: block;
  float: right;
  height: 22px;
  line-height: 22px;
  margin: 0 1em;
}

nav.pagination a {
  line-height: 22px;
}


div.subscription {
  float: left;
  padding-top: 1em;
  margin-left: 10pt
}