
body {
  background: #000;
}

header#page-header {
  width: 100%;
  height: 90px;
}

header#page-header div {
  line-height: normal;
}

header#page-header img.logo {
  margin: 10px 0 0 16px;
}

header#page-header h1 {
  margin-top: 8pt;
}

header#page-header h1 span.war-worlds {
  font-size: 18pt;
  line-height: 18pt;
}

header#page-header h1 span.extra {
  display: none;
}

header#page-header .twitter-btn img {
  width: 20px;
  height: 20px;
  top: 30px;
  right: 5px;
}

header#page-header .gplus-btn img {
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
}

header#page-header .rss-btn img {
  width: 20px;
  height: 20px;
  top: 55px;
  right: 5px;
}

header#page-header ul.main-nav {
  margin-bottom: 1em;
}

header#page-header ul.main-nav li {
  float: left;
  list-style-type: none;
  margin: 0;
  margin-left: 1em;
  line-height: normal;
  width: 50pt;
}

header#page-header ul.main-nav li:nth-child(3) {
  clear: left;
  margin-left: 0;
}

header#page-header ul.main-nav li:nth-child(4) {
  width: 75pt;
}

section.content {
  width: auto;
}

nav.admin {
  width: auto;
}