
@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic);

body {
  font-family: roboto, sans-serif;
  font-size: 12pt;
  background: #000 url(/img/v2/bg.jpg) repeat;
  color: #222;
}

fieldset {
  border: solid 1px #999;
  border-radius: 4px;
}

fieldset legend {
  margin-left: 0.5em;
  padding: 0 0.5em;
  font-weight: bold;
  color: #900;
}

h1 { font-family: georgia, serif; font-size: 16pt; font-weight: bold; margin-top: 1em; }
h2 { font-family: georgia, serif; font-size: 14pt; font-weight: bold; margin-top: 1em; }
h3 { font-family: georgia, serif; font-size: 12pt; font-weight: bold; font-style: italic; margin-top: 1em; }

ul {
  list-style-type: disc;
  margin: 1em 0 1em 2em;
}
ol {
  margin-left: 2em;
  margin: 1em 0 1em 2em;
}
li {
  line-height: 1.4;
}

p {
  margin: 1em 0;
  line-height: 1.4;
}

blockquote {
  margin-left: 2em;
  padding-left: 1em;
  border-left: solid 2pt #6f6;
}

header#page-header {
  height: 80px;
  width: 900px;
  margin: 0 auto;
  position: relative;
}

header#page-header img.logo {
  margin: 3px 24px 0 16px;
  float: left;
}

header#page-header div {
  position: absolute;
  top: 0;
  left: 100px;
  bottom: 0;
  right: 100px;
  line-height: 80px;
}

header#page-header h1 {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 16pt;
  line-height: 24pt;
  margin-top: 0;
}

header#page-header h1 span {
  white-space: nowrap;
}

header#page-header h1 span.war-worlds a {
  font-size: 24pt;
  color: #fff;
  text-decoration: none;
}

header#page-header ul.main-nav {
  margin: 0; padding: 0;
  color: #fff;
  position: absolute;
  bottom: 0; left: 100px;
}
header#page-header ul.main-nav li {
  float: left;
  margin-left: 1.5em;
}
header#page-header ul.main-nav li:first-child {
  margin-left: 0;
  list-style-type: none;
}
header#page-header ul.main-nav li a {
  text-decoration: none;
  color: #fff;
}

header#page-header nav.userinfo {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
}

header#page-header nav.userinfo a {
  color: #99f;
}

header#page-header div.donate-btn {
  position: absolute;
  top: 0px;
  left: auto;
  right: 16px;
  width: 100px;
}

header a.gplus-btn img {
  display: block;
  position: absolute;
  right: 126px;
  top: 24px;
}

header a.twitter-btn img {
  display: block;
  position: absolute;
  right: 166px;
  top: 24px;
}

header a.rss-btn img {
  display: block;
  position: absolute;
  right: 206px;
  top: 26px;
}

nav.admin {
  width: 900px;
  background: #6faed2;
  margin: 0 auto;
  border: solid 2px #365567;
  height: 24px;
  line-height: 24px;
}
nav.admin ul {
  list-style-type: none;
  margin: 0;
}
nav.admin ul li {
  float: left;
  height: 24px;
}
nav.admin a {
  color: #fff;
  font-weight: bold;
  padding: 3px 20px;
  border-right: solid 2px #365567;
}

section.content {
  background: #fff;
  padding: 0 20px;
  width: 860px;
  margin: 0 auto;
  padding-bottom: 2em;
}

nav.breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 20pt;
  line-height: 20pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav.breadcrumbs li:before {
  content: "»";
  margin-right: 4pt;
}

nav.breadcrumbs li:first-child:before {
  content: "";
  margin-right: 0;
}

nav.breadcrumbs li {
  display: inline;
  margin-left: 4pt;
}

/*
 * War Worlds-style buttons.
 */

a.button {
  display: inline-block;
  position: relative;
  background: url(/img/button.png) no-repeat top right;
  height: 20px;
  padding: 0 8px 0 0;
  color: #fff;
  text-decoration: none;
  font-family: arial;
  font-size: 14px;
  line-height: 20px;
}
a.button:before {
  content: "";
  position: absolute;
  display: block;
  background: url(/img/button.png) no-repeat top left;
  width: 8px;
  height: 20px;
  left: -8px;
}

a.button:hover {
  background-position: center right;
}
a.button:hover:before {
  background-position: center left;
}
a.button.disabled {
  background-position: bottom right;
}
a.button.disabled:before {
  background-position: bottom left;
}

div.input-button input {
  display: block;
  position: relative;
  background: url(/img/button.png) no-repeat top right;
  height: 20px;
  color: #fff;
  font-family: arial;
  font-size: 14px;
  line-height: 20px;
  border: 0;
  padding: 1px 16px 1px 8px;
}

div.input-button {
  display: inline-block;
  background: url(/img/button.png) no-repeat top left;
  height: 20px;
  padding-left: 8px;
  width: 20px;
}

a.button:hover {
  background-position: center right;
}
a.button:hover:before {
  background-position: center left;
}
div.input-button:hover {
  background-position: center left;
}
div.input-button:hover input {
  background-position: center right;
}

a.button.disabled {
  background-position: bottom right;
}
a.button.disabled:before {
  background-position: bottom left;
}
div.input-button.disabled {
  background-position: bottom left;
}

div.input-button.disabled input {
  background-position: bottom right;
  color: #aaa;
}

/*
 * Code for making videos fill the width of the screen, especially useful on mobile.
 */
div.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
 
div.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * autocomplete
 */
.acResults {
        padding: 0px;
        border: 1px solid WindowFrame;
        background-color: Window;
        overflow: hidden;
}

.acResults ul {
        margin: 0px;
        padding: 0px;
        list-style-position: outside;
        list-style: none;        
}

.acResults ul li {
        margin: 0px;
        padding: 2px 5px;
        cursor: pointer;
        display: block;
        font: menu;
        font-size: 12px;
        overflow: hidden;
}

.acLoading {
        background : url('/img/spinner.gif') right center no-repeat;
}

.acSelect {
        background-color: Highlight;
        color: HighlightText;
}
