{% extends "skeleton.html" %}
{% import "issues/macros.html" as m %}

{% block header %}
  {{m.html_header(resource_version)}}
  <script src="/ckeditor/v{{resource_version}}/ckeditor.js"></script>
{% endblock %}
{% block pagetitle %}Issues &bull; New{% endblock %}
{% block title %}New Issue{% endblock %}

{% block maincontent %}
  <section class="content">
    <nav class="breadcrumbs">
      <ul>
        <li><a href="/">War Worlds</a>
        <li><a href="/issues">Issues</a>
        <li><span>New Issue</span>
      </ul>
    </nav>

    <section class="blurb">
      <p>Please try to search before reporting a duplicate issue. If you think you've found an issue that nobody else
      has reported yet, please include as much detail below as possible.</p>
    </section>

    <form method="POST" class="edit-issue">
      <fieldset>
        <legend>Overview</legend>
        <div class="issue-field">
          <label for="issue-summary">Summary:</label>
          <div class="hack"><input type="text" name="issue-summary" id="issue-summary" placeholder="Describe the issue in a short sentence." /></div>
        </div>
        <div class="issue-field issue-field-markitup">
          <label for="issue-description">Description:</label>
          <div class="hack"><textarea name="issue-description" id="issue-description"></textarea></div>
        </div>
      </fieldset>
      <div class="input-button"><input type="submit" value="Create Issue" /></input>
    </form>
  </section>
  <script>
    $(function() {
      var editor = CKEDITOR.replace("issue-description");
      var $container = $("fieldset div.issue-field-markitup div.hack");

      CKEDITOR.on("instanceReady", function() {
        editor.resize($container.width(), $container.height());
      });
      $(window).resize(function() {
        editor.resize($container.width(), $container.height());
      });

      var changed = false;
      var saving = false;
      editor.on("change", function() {
        changed = true;
      });
      $("form").on("submit", function() {
        saving = true;
      });
      $(window).on("beforeunload", function() {
        if (changed && !saving) {
          return "You have unsaved changes.";
        }
      });
    });
  </script>
{% endblock %}
