<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" >
  <title>{% block pagetitleprefix %}War Worlds &bull; {% endblock %}{% block pagetitle %}An Android MMO{% endblock %}</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/css/v{{resource_version}}/reset.css">
  <link rel="stylesheet" href="/css/v{{resource_version}}/style.css">
  <link rel="stylesheet" href="/css/v{{resource_version}}/mobile.css" media="only screen and (max-width: 900px)" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Quando">
  <script src="/js/v{{resource_version}}/jquery-3.1.1.min.js"></script>
{% block header %}{% endblock %}
</head>
<body>
    <header id="page-header">
      <a href="/"><img class="logo" src="/img/logo.png?v=2" width="72" height="72" alt=""></a>
      <div><h1><span class="war-worlds"><a href="/">War Worlds</a></span> <span class="extra">&bull; {% block title %}An Android&trade; MMO{% endblock %}</span></h1></div>
      <div class="donate-btn">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="R5VDS58MT88K6">
          <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
      <a href="https://plus.google.com/114217154998683929092?prsrc=3" rel="publisher" class="gplus-btn"
         title="Visit us on Google+">
        <img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" width="32" height="32">
      </a>
      <a href="http://twitter.com/WarWorlds" title="Follow us on Twitter!" class="twitter-btn">
        <img src="/img/twitter.png" alt="Twitter" width="32" height="32" />
      </a>
      <ul class="main-nav">
        <li><a href="/blog">Blog</a>
        <li><a href="/doc/">Docs</a>
        <li><a href="/forum/">Forums</a>
        <li><a href="https://play.google.com/store/apps/details?id=au.com.codeka.warworlds">Get the game</a>
      </ul>
      <nav class="userinfo">
        {% if is_logged_in %}
          Welcome, <a href="/profile">{{'New User' if not user_profile else user_profile.display_name}}</a>.
          <a href="{{logout_url}}">Log out</a>
        {% else %}
          You&rsquo;re not logged in.
          <a href="{{login_url}}">Log in</a>
        {% endif %}
      </nav>
      {% block headerlinks %}{% endblock %}
    </header>
{% if is_admin %}
    <nav class="admin">
      <ul>
        <li><a href="/admin">Backend</a>
{% block adminbuttons %}{% endblock %}
      </ul>
    </nav>
{% endif %}
{% block maincontent %}{% endblock %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31689908-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>