<?xml version="1.0" encoding="utf-8"?>
    <!--
        Copyright 2010 Google Inc. Licensed under the Apache License, Version
        2.0 (the "License"); you may not use this file except in compliance
        with the License. You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0 Unless required by
        applicable law or agreed to in writing, software distributed under the
        License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
        CONDITIONS OF ANY KIND, either express or implied. See the License for
        the specific language governing permissions and limitations under the
        License.
    -->
<web-app xmlns:xsi="http://www.w3.org/2001/xmlschema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemalocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

  <!-- Default page to serve, basically just says "nothing to see here..." -->
  <welcome-file-list>
    <welcome-file>WarWorlds.html</welcome-file>
  </welcome-file-list>

  <!-- MapReduce servlet -->
  <servlet>
    <servlet-name>mapreduce</servlet-name>
    <servlet-class>com.google.appengine.tools.mapreduce.MapReduceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapreduce</servlet-name>
    <url-pattern>/mapreduce/*</url-pattern>
  </servlet-mapping>

  <!-- Servlet for C2DM stuff -->
  <servlet>
    <servlet-name>dataMessagingServlet</servlet-name>
    <servlet-class>com.google.android.c2dm.server.C2DMRetryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataMessagingServlet</servlet-name>
      <url-pattern>/tasks/c2dm</url-pattern>
  </servlet-mapping>

  <!-- Our main restlet servlet -->
  <servlet>
    <servlet-name>adapter</servlet-name>
    <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
    <init-param>
      <param-name>org.restlet.application</param-name>
      <param-value>au.com.codeka.warworlds.WarWorldsApplication</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>adapter</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <!-- Security -->

  <!--  Require user login for the whole site (we then do some custom stuff to ensure
        only valid users are allowed in) -->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- Only administrators can view/run mappers -->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/mapreduce/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
