<!DOCTYPE html>
<html>
  <head>
    <title>War Worlds Intel Map</title>
    <style>
      html, body, canvas {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    </style>
    <link rel="stylesheet" href="/css/ww-style.css" />
    <link rel="stylesheet" href="/css/intel.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/tmpl.js"></script>
    <script src="/js/seedrandom.js"></script>
    <script src="/js/intel.js"></script>
  </head>
  <body>
    <canvas id="main-canvas"></canvas>
    <div id="search" class="cut-off dialog">
      <label for="search-query">Search:</label>
      <div class="edittext"><input type="text" id="search-query" name="search-query"></div>
      <div id="search-results"></div>
      <a href="javascript:;" id="search-close" style="display: none;">Close</a>
    </div>
    <div id="star-details" class="cut-off dialog" style="display: none;">
      <div class="star-icon-container"><div class="star-icon-big"></div></div>
      <div class="star-name"></div>
      <div class="star-classification"></div>

      <div class="star-key">
        Key: <input type="text" readonly>
      </div>
    </div>
    {% if is_admin %}
      <div id="debug" class="cut-off dialog">
        <a href="javascript:;" id="debug-new-empire" title="Find a star for a new empire">New Empire</a>
      </div>
    {% endif %}

    <script id="search-result-tmpl" type="text/html">
      <div class="search-result">
        <div class="star-icon-small <%= icon_class %>"></div>
        <span class="star-name"><%= name %></span>
      </div>
    </script>
  </body>
</html>