{% extends "skeleton.html" %}
{% import "forum/macros.html" as m %}

{% block header %}{{m.html_header()}}{% endblock %}
{% block pagetitle %}Forum &bull; Login{% endblock %}
{% block title %}Forum &bull; Login{% endblock %}
{% block headerlinks %}{% endblock %}

{% block maincontent %}
  <section class="content">
    <h1>Login</h1>
    <p>Access to the page you requests requires a Google Account. Click the link
       below to log in and return to the page you requested.</p>
    <p>We recommend you log in with the same Google Account that you use to play
       War Worlds so that we can link you to your in-game empire.</p>
    <p><a href="{{login_url}}">Login</a></p>
  </section>
{% endblock %}