{% extends "skeleton.html" %}
{% import "forum/macros.html" as m %}

{% block header %}
  {{m.html_header(resource_version)}}
  <script src="/ckeditor/v{{resource_version}}/ckeditor.js"></script>
{% endblock %}
{% block pagetitle %}Forum &bull; {{forum.name}} &bull; {{forum_thread.subject}}{% endblock %}
{% block title %}Forum &bull; {{forum.name}}{% endblock %}

{% block maincontent %}
  <section class="content">
    <nav class="breadcrumbs">
      <ul>
        <li><a href="/">War Worlds</a>
        <li><a href="/forum">Forums</a>
        <li><a href="/forum/{{forum.slug}}">{{forum.name}}</a>
        <li><span>{{forum_thread.subject}}</span>
      </ul>
    </nav>

    <h1>{{forum_thread.subject}}</h1>
  {% for post in posts %}
    <article class="single-post">
      <img src="{{profiles[post.user.user_id()]|profile_shield}}" class="poster-shield" width="64" height="64" alt="Shield" />
      <header>
        <span class="author"><a rel="author" href="/">{{profiles[post.user.user_id()].display_name}}</a></span>
        <span class="posted">posted <time itemprop="dateCreated" datetime="{{post|post_date_std}}">{{post|post_date_time}}</time></span>
      </header>
      <div class="content">
        {{post.content}}
      </div>
    </article>
  {% endfor %}

    <form method="POST" action="/forum/{{forum.slug}}/{{forum_thread.slug}}/posts">
      <fieldset>
        <header class="post-reply-header">
          Post Reply
        </header>
        <div class="forum-field forum-field-markitup">
          <label for="post-content">Message:</label>
          <div class="hack"><textarea name="post-content" id="post-content"></textarea></div>
        </div>
        <div class="forum-field forum-field-submit">
          <div class="input-button"><input type="submit" value="Post"></div>
        </div>
      </fieldset>
    </form>
    <script>
      $(function() {
        var editor = CKEDITOR.replace("post-content");
        var $container = $("fieldset div.forum-field-markitup div.hack");

        CKEDITOR.on("instanceReady", function() {
          editor.resize($container.width(), $container.height());
        });
        $(window).resize(function() {
          editor.resize($container.width(), $container.height());
        });

        var changed = false;
        var saving = false;
        editor.on("change", function() {
          changed = true;
        });
        $("form").on("submit", function() {
          saving = true;
        });
        $(window).on("beforeunload", function() {
          if (changed && !saving) {
            return "You have unsaved changes.";
          }
        });
      });
    </script>
  </section>
{% endblock %}
