{% extends "skeleton.html" %}
{% import "forum/macros.html" as m %}

{% block header %}{{m.html_header()}}{% endblock %}
{% block pagetitle %}Forum &bull; Profile{% endblock %}
{% block title %}Forum &bull; Profile{% endblock %}
{% block headerlinks %}{{m.page_header(is_logged_in, user_profile, logout_url, login_url)}}{% endblock %}

{% block maincontent %}
  <section class="content">
    <form method="POST">
      <fieldset>
        <h1>Edit Profile</h1>
        <p>Enter details about yourself here.</p>
        <div class="forum-field">
          <label for="profile-displayname">Name:</label>
          <input type="text" name="profile-displayname" id="profile-displayname" placeholder="The name that you wish to go by on this forum.">
        </div>
        <div class="forum-field forum-field-submit">
          <input type="submit" value="Save Profile">
        </div>
      </fieldset>
    </form>
  </section>
{% endblock %}