{% extends "skeleton.html" %}
{% import "forum/macros.html" as m %}

{% block header %}
  {{m.html_header()}}
  <style>
    div.thread-entry {
      height: 40pt;
      position: relative;
      border-top: solid 1px #ccc;
      margin-bottom: 1em;
      margin-top: 0.5em;
    }
    div.thread-title {
      position: absolute;
      top: 0; left: 0; bottom: 0;
      width: 50%;
    }
    div.thread-replycount {
      position: absolute;
      top: 0; bottom: 0;
      left: 50%;
      width: 80pt;
    }
    div.thread-details {
      position: absolute;
      left: 50%;
      margin-left: 80pt;
      right: 0; top: 0; bottom: 0;
    }
    div.thread-details img {
      vertical-align: middle;
    }

    div.forum-stats span {
      font-weight: bold;
    }

    div.thread-details {
      font-size: 75%;
    }
  </style>
{% endblock %}
{% block pagetitle %}Forums &bull; {{forum.name}}{% endblock %}
{% block title %}Forums &bull; {{forum.name}}{% endblock %}

{% block maincontent %}
  <section class="content">
    <nav class="breadcrumbs">
      <ul>
        <li><a href="/">War Worlds</a>
        <li><a href="/forum">Forums</a>
        <li><span>{{forum.name}}</span>
      </ul>
    </nav>

  {% for thread in threads %}
    <div class="thread-entry">
      <div class="thread-title">
        <a href="/forum/{{forum.slug}}/{{thread.slug}}">{{thread.subject}}</a>
        <div>{{first_posts[thread.key()].content|striptags|truncate(100)}}</div>
      </div>
      <div class="thread-replycount">
        <div><span>{{post_counts[thread.forum.slug+":"+thread.slug] - 1}}</span> replies</div>
      </div>
      <div class="thread-details">
        <div class="thread-author">started by <a href="/"><img src="{{profiles[thread.user.user_id()]|profile_shield}}" width="16" height="16"/> {{profiles[thread.user.user_id()].display_name}}</a></div>
        <div class="lastpost-author">last reply by <a href="/"><img src="{{profiles[last_posts[thread.key()].user.user_id()]|profile_shield}}" width="16" height="16"/> {{profiles[last_posts[thread.key()].user.user_id()].display_name}}</a></div>
        <div class="lastpost-date">on <time datetime="{{last_posts[thread.key()]|post_date_std}}" class="post-date">{{last_posts[thread.key()]|post_date_time}}</time></div>
      </div>
    </div>
  {% endfor %}

    <p><a href="/forum/{{forum.slug}}/posts">New Post</a></p>
  </section>
{% endblock %}
