
html, body {
  padding: 0; margin: 0;
  width: 100%; height: 100%;
  position: absolute;
}

body {
  font-family: arial, helvetica, verdana, sans-serif;
  overflow-x: hidden;
  background: #000;
  color: #fff;
}

#header {
  width: 100%;
  background: rgb(37,37,37);
  padding: 0; margin: 0;
}

#header div.header-bg {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2NkQAOMGAI2NjYzgYJnjxw5MgskyQgU+A+kZwEF0kECALGKCgWXotQhAAAAAElFTkSuQmCC) repeat;
  height: 56px;
  position: relative;
}

#header img {
  float: left;
  margin: 9px 0 0 9px;
}

#header h1 {
  color: #fff;
  line-height: 56px;
  margin: 0 0 0 96px;
  padding: 0;
}
