{% extends "admin/skeleton.html" %}

{% block head %}
	<style>
		fieldset {
			width: 480px;
		}
		fieldset select {
			width: 350px;
		}
		textarea {
			width: 95%;
			height: 400px;
		}
	</style>
{% endblock %}

{% block content %}
	<h1>DataStore Entities</h1>
	<fieldset>
		<legend>Bulk Delete</legend>
		<form method="post">
			<input type="hidden" name="action" value="bulk-delete">
			<select name="entity-kind">
				<option>(Select Kind)
				{% for kind in kinds %}
					<option>{{kind}}
				{% endfor %}
			</select>
			<input type="submit" value="Bulk Delete">
		</form>
	</fieldset>
{% endblock %}