{% extends "admin/skeleton.html" %}
{% block title %}Empires{% endblock %}
{% block head %}
  <style>
    textarea#search-results {
      width: 800px;
      height: 400px;
    }
    form {
      position: relative;
      height: 28pt;
      line-height: 28pt;
      width: 500pt;
    }
    form input[type=submit] {
      position: absolute;
      right: 0;
    }
    form input[type=text] {
      position: absolute;
      top: 0; left: 60pt;
      bottom: 0; right: 70pt;
      border: solid 1px black;
    }
    form label {
      display: block;
      position: absolute;
      left: 0; width: 60pt;
      top: 0; bottom: 0;
    }
    form#find-byemailidname input[type=text] {
      right: 130pt;
    }
    form#find-byemailidname input[id=search-details] {
      position: absolute;
      right: 110pt;
      top: 1pt;
    }
    form#find-byemailidname label[for=search-details] {
      position: absolute;
      top: 0; height: 16pt;
      left: 392pt;
      line-height: 16pt;
    }
    form#find-byemailidname input[id=search-simulate] {
      position: absolute;
      right: 110pt;
      top: 12pt;
    }
    form#find-byemailidname label[for=search-simulate] {
      position: absolute;
      top: 12pt; height: 16pt;
      left: 392pt;
      line-height: 16pt;
    }

    form#empire-query {
        width: 550pt;
    }
    form#empire-query input[type=text] {
      right: 180pt;
    }
    form#empire-query input[value="Cash Audit"] {
      position: absolute;
      right: 95pt;
    }
    form#empire-query input[value="Building Stats"] {
      position: absolute;
      right: 0;
    }

    form input[type=text]#create-empire-name {
      right: 100pt;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Empires</h1>
  <p>To find the details of a given Empire, enter the email address below of the user
     who owns the Empire, or the Empire's key, then click &ldquo;Search&rdquo;.
  <form id="find-byemailidname">
    <label for="search-email">Search:</label>
    <input type="text" id="search-value" placeholder="Key, email or name" />
    <input type="checkbox" id="search-details">
    <label for="search-details" title="(You must specify key for this)">Details</label>
    <input type="checkbox" id="search-simulate">
    <label for="search-simulate">Simulate</label>
    <input type="submit" value="Search" />
  </form>
  <form id="empire-query">
    <label for="empire-key">Key:</label>
    <input type="text" id="empire-key" placeholder="Empire key" />
    <input type="submit" value="Cash Audit" />
    <input type="submit" value="Building Stats" />
  </form>
  <form id="create-empire">
    <label for="create-empire-name">Name:</label>
    <input type="text" id="create-empire-name" />
    <input type="submit" value="Create Empire" />
  </form>
  <textarea id="search-results" wrap="off"></textarea>
  <div id="search-time"></div>
  <script>
    $("#find-byemailidname").on("submit", function(evnt) {
      evnt.preventDefault();

      var url = "";
      var inp = $(this).find("input[type=text]");
      if ($(this).find("#search-details").prop("checked")) {
        url = "/api/v1/empires/"+inp.val()+"/details";
        if (!$(this).find("#search-simulate").prop("checked")) {
          url += "?do_simulate=0";
        }
      } else {
        url = "/api/v1/empires/search";
        if (inp.val().indexOf("@") > 0) {
          url += "?email="+inp.val();
        } else {
          url += "?name="+inp.val();
        }
      }

      $.ajax({
        url: url,
        dataType: "json",
        success: function (data, status, xhr) {
          setTimeout(function() {
            $("#search-time").html("<b>Time:</b> "+xhr.elapsedMs+"ms");
          }, 10);
          $("#search-results").val(JSON.stringify(data, null, "  "));
        },
        error: function(xhr, status, err) {
          if (xhr.status == 404) {
            $("#search-results").val("No empire!");
          } else {
            alert("An error occured, check server logs: " + xhr.status);
          }
        }
      });
    });

    function zeroPad(str, n) {
      var padded = "0000000000"+str;
      return padded.substr(padded.length - n);
    }
    function spacePad(str, n) {
      var padded = "                                           "+str;
      return padded.substr(padded.length - n);
    }

    $("#empire-query").on("click", ":submit", function(evnt) {
      evnt.preventDefault();
      if($(this).val() == "Cash Audit") {
        var url = "/api/v1/empires/"+$("#empire-key").val()+"/cash-audit";
        $.ajax({
          url: url,
          type: "GET",
          dataType: "json",
          success: function(data) {
            var text = "";
            for(var i = 0; i < data.entries.length; i++) {
              var entry = data.entries[i];
              var dt = new Date(entry["time"] * 1000);
              text += dt.getFullYear()+"-"+zeroPad(dt.getMonth()+1, 2)+"-"+zeroPad(dt.getDate(), 2);
              text += " "+zeroPad(dt.getHours(), 2)+":"+zeroPad(dt.getMinutes(), 2)+":"+zeroPad(dt.getSeconds(), 2);
              text += " : "+spacePad(parseInt(entry["new_cash"]), 10);
              text += " : "+spacePad("diff: "+parseInt(entry["difference"]), 15);
              text += " : "+entry["reason"];
              text += "\r\n";
            }
            $("#search-results").val(text);
          },
          error: function(xhr, status, err) {
            alert("An error occured, check server logs: " + xhr.status);
          }
        });
      } else {
        var url = "/api/v1/empires/"+$("#empire-key").val()+"/building-statistics";
        $.ajax({
          url: url,
          type: "GET",
          dataType: "json",
          success: function(data) {
            $("#search-results").val(JSON.stringify(data, null, "  "));
          },
          error: function(xhr, status, err) {
            alert("An error occured, check server logs: " + xhr.status);
          }
        });
      }
    });

    $("#create-empire").on("submit", function(evnt) {
      evnt.preventDefault();

      var url = "/api/v1/empires";

      $.ajax({
        url: url,
        type: "PUT",
        contentType: "application/json",
        data: JSON.stringify({display_name: $(this).find("input[type=text]").val(),
                              state: 1}),
        success: function (data) {
          $("#search-results").val(JSON.stringify(data, null, "  "));
        },
        error: function(xhr, status, err) {
          alert("An error occured, check server logs: " + xhr.status);
        }
      });
    });
  </script>
{% endblock %}