section#messages {
  position: absolute;
  left: 0px;
  right: 340px;
  bottom: 50px;
  top: 70px;
  overflow-y: auto;
  margin-right: 30px;
  border: solid 1px #999;
}
section#conversations {
  position: absolute;
  right: 30px;
  width: 300px;
  bottom: 50px;
  top: 70px;
  overflow-y: auto;
}
section#conversations div.conv {
  height: 30px;
  line-height: 30px;
}
form {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  height: 50px;
}
form div.hack {
  position: absolute;
  left: 0; top: 4px; right: 120px;
}
form div.hack input[type=text] {
  width: 100%;
}
form input[type=submit] {
  position: absolute;
  top: 0; right: 30px;
}
section#messages span.translated {
  font-style: italics;
}
section#messages span.profanity-strong {
  color: #a00;
}
section#messages span.profanity-mild {
  color: #cc0;
}
section#messages div.msg-menu {
  width: 32pt;
  height: 32pt;
  float: left;
  font-weight: bold;
  text-align: center;
  line-height: 32pt;
  cursor: pointer;
}
section#messages div.msg-content {
  padding: 1em;
  padding-left: 40pt;
  padding-top: 0;
}
section#messages div.fetch-older {
  height: 32px;
  line-height: 32px;
  text-align: center;
}