{% extends "admin/skeleton.html" %}
{% block "title" %}Chat{% end %}
{% block "head" %}
  <script src="/realms/{{realm}}/js/tmpl.js"></script>
  <script src="/realms/{{realm}}/js/empirestore.js"></script>
  <style>
    section#messages {
      position: absolute;
      left: 0px;
      right: 340px;
      bottom: 50px;
      top: 70px;
      overflow-y: auto;
      margin-right: 30px;
      border: solid 1px #999;
    }
    section#conversations {
      position: absolute;
      right: 30px;
      width: 300px;
      bottom: 50px;
      top: 70px;
      overflow-y: auto;
    }
    section#conversations div.conv {
      height: 30px;
      line-height: 30px;
    }
    form {
      position: absolute;
      bottom: 0; left: 0; right: 0;
      height: 50px;
    }
    form div.hack {
      position: absolute;
      left: 0; top: 4px; right: 120px;
    }
    form div.hack input[type=text] {
      width: 100%;
    }
    form input[type=submit] {
      position: absolute;
      top: 0; right: 30px;
    }
    section#messages span.translated {
      font-style: italics;
    }
    section#messages span.profanity-strong {
      color: #a00;
    }
    section#messages span.profanity-mild {
      color: #cc0;
    }
    section#messages div.msg-content {
      padding: 1em;
      padding-top: 0;
    }
    section#messages div.fetch-older {
      height: 32px;
      line-height: 32px;
      text-align: center;
    }
  </style>
{% end %}

{% block "content" %}
  <h1>Chat</h1>
  <section id="messages"></section>
  <section id="conversations">
    <div class="conv" data-convid="-1">All messages</div>
    <div class="conv" data-convid="0">Global chat</div>
    <div class="conv" data-convid="0">Alliance chat</div>
    <script>
      var conversations = {};
    </script>
    {% for conv in conversations %}
      <div class="conv" data-convid="{{ conv.ID }}">
        {% for participant in conv.participants %}
          {{ empires[participant.empireID].displayName }},
        {% end %}
        <script>
          var name = "{% for participant in conv.participants %}{{ empires[participant.empireID].displayName }}, {% end %}";
          name = name.substr(0, name.length - 2);
          conversations[{{conv.ID}}] = name;
        </script>
      </div>
    {% end %}
  </section>
  <form id="sendmsg">
    <div class="hack"><input type="text"></div>
    <input type="submit" value="Send">
  </form>
  <script src="/realms/{{realm}}/admin/chat/chat.js"></script>
{% end %}