{% extends "admin/skeleton.html" %}
{% block title %}Chat{% endblock %}
{% block head %}
  <script src="/js/tmpl.js"></script>
  <script src="/js/empirestore.js"></script>
  <style>
    section#messages {
      position: absolute;
      left: 0px;
      right: 10px;
      bottom: 50px;
      top: 70px;
      overflow-y: auto;
      border: solid 1px #999;
    }
    form {
      position: absolute;
      bottom: 0; left: 0; right: 0;
      height: 50px;
    }
    form input[type=text] {
      position: absolute;
      left: 0; top: 4px; right: 120px;
    }
    form input[type=submit] {
      position: absolute;
      top: 0; right: 30px;
    }
    section#messages span.translated {
      color: #a00;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Chat</h1>
  <section id="messages"></section>
  <form id="sendmsg">
    <input type="text">
    <input type="submit" value="Send">
  </form>
  <script>
    $("form input[type=text]").focus();
    $("form#sendmsg").on("click", "input[type=submit]", function(evnt) {
      evnt.preventDefault();

      $val = $("form input[type=text]")
      sendMessage($val.val());
      $val.val("").focus();
    });

    var is_sorted = false;
    var original_page_title = document.title;

    function appendMessage(msg) {
      if (typeof msg.empire == "undefined") {
        if (msg.empire_key) {
          empireStore.getEmpire(msg.empire_key, function(empire) {
            msg.empire = empire;
            appendMessage(msg);
          });
        } else {
          msg.empire = "[SERVER]";
          appendMessage(msg);
        }
        if (is_sorted) {
          // if it's already sorted, make sure it stays that way
          sortMessages();

          num_unread ++;
          document.title = "("+num_unread+") "+original_page_title;
        }
        return;
      }

      var dt = new Date();
      dt.setTime(msg.date_posted * 1000);

      function zeroPad(str, n) {
        var padded = "0000000000"+str;
        return padded.substr(padded.length - n);
      }
      var dtstr = dt.getFullYear()+"-"+zeroPad(dt.getMonth() + 1, 2)+"-"+zeroPad(dt.getDate(), 2);
      dtstr += " "+zeroPad(dt.getHours(), 2)+":"+zeroPad(dt.getMinutes(), 2);
      var msgstr = dtstr;

      if (msg.alliance_key) {
        msgstr += " : <em>Alliance</em>";
      } else {
        msgstr += " : <em>Global</em>";
      }

      msgstr += " : "+msg.empire+" : ";
      if (msg.message_en) {
        msgstr += "<span class=\"translated\">"+msg.message_en+"</span>";
      } else {
        msgstr += msg.message;
      }

      var div = $("<div>"+msgstr+"</div>");
      div.data("dt", msg.date_posted);
      $("section#messages").append(div);
    }

    function sortMessages() {
      var items = $("section#messages").children().detach().sort(function(lhs, rhs) {
        var n = $(rhs).data("dt") - $(lhs).data("dt");
        return -(n < 0 ? -1 : (n > 0 ? 1 : 0));
      });
      $("section#messages").append(items);
      is_sorted = true;
    }

    function sendMessage(msg) {
      var url = "/realms/beta/chat";
      $.ajax({
        url: url, type: "POST", contentType: "application/json",
        data: JSON.stringify({
          "message": msg
        }),
        success: function(data) {
          // ??
        },
        error: function(xhr, status, err) {
          // todo: handle errors
          //appendMessage("[ERROR] An error occured sending the last message");
        }
      });
    }

    window.lastFetch = new Date();
    window.lastFetch.setDate(lastFetch.getDate() - 4);
    function fetchMessages() {
      $.ajax({
        "url": "/realms/beta/chat?since="+parseInt(window.lastFetch.getTime() / 1000),
        "method": "get",
        "dataType": "json",
        "success": function(data) {
          window.lastFetch = new Date();

          if (typeof data.messages == "undefined") {
            return;
          }

          for (var i = 0; i < data.messages.length; i++) {
            var msg = data.messages[i];
            appendMessage(msg);
          }

          if (!is_sorted) {
            var $section = $("section#messages");
            $section.scrollTop($section[0].scrollHeight);
          }

          sortMessages();
        }
      });
    }

    $("section#messages").scroll(function() {
      var $section = $("section#messages");
      if ($section.scrollTop() + $section.height() >= $section[0].scrollHeight) {
        num_unread = 0;
        document.title = original_page_title;
      }
    });

    fetchMessages();
    setInterval(fetchMessages, 15000);
  </script>
{% endblock %}