{% extends "admin/skeleton.html" %}
{% block "title" %}Dashboard{% end %}
{% block "head" %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% end %}
{% block "content" %}
  <h1>Active Empires</h1>
  <div id="activeEmpireGraph" style="width: 100%; margin: 0 auto;"></div>
  <script type="text/javascript">
    // keep the width/height ratio of the graph nice
    var ratio = 0.2;
    $("#activeEmpireGraph").css("height", $("#activeEmpireGraph").width() * ratio);

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn("date", "Date");
      dataTable.addColumn("number", "1-day actives");
      dataTable.addColumn("number", "7-day actives");
      dataTable.addColumn("number", "New Signups");
      dataTable.addRows([
      {% for entry in active_empires_graph %}
        [new Date({{ entry.year }}, {{ entry.month + 1 }}, {{ entry.day }}), {% if entry.oneda %}{{entry.oneda}}{% else %}0{% end %}, {% if entry.sevenda %}{{entry.sevenda}}{% else %}0{% end %}, {% if entry.signups %}{{entry.signups}}{% else %}0{% end %}],{% end %}
      ]);

      var dataView = new google.visualization.DataView(dataTable);

      var width = $("#activeEmpireGraph").width();
      var height = $("#activeEmpireGraph").height();
      var options = {
        "chartArea": {left: 50, top: 10, width: width - 100, height: height - 80},
        "backgroundColor": {fill: "transparent"},
        "series": {
          0: { "type": "line", "targetAxisIndex": 0 },
          1: { "type": "line", "targetAxisIndex": 0 },
          2: { "type": "line", "targetAxisIndex": 1 },
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById("activeEmpireGraph"));
      chart.draw(dataView, options);
    }
  </script>

  <p id="oldest-star"><a href="javascript:refreshOldestStar();">Refresh</a>: <span>...</span></p>
  <script>
    function refreshOldestStar() {
      $.ajax({
        "url": "/realms/{{realm}}/admin",
        "type": "POST",
        "success": function(data) {
          $("p#oldest-star span").html("<b>" + data["oldest_star_name"] + "</b> (" +
            data["oldest_star_id"] + "): " + data["oldest_star_time"] + " ago, <b>" +
            formatNumber(data["num_stars_older_than_3_hrs"]) + "</b> stars are &gt; 3hrs old");
        }
      });
    }
    $("p#oldest-star").on("click", "a", refreshOldestStar);
    refreshOldestStar();
  </script>

<h1>Requests</h1>
<div id="requestsGraph" style="width: 100%; margin: 0 auto;"></div>
<script type="text/javascript">
    // keep the width/height ratio of the graph nice
    var ratio = 0.2;
    $("#requestsGraph").css("height", $("#requestsGraph").width() * ratio);

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn("datetime", "Date");
      dataTable.addColumn("number", "Total requests");{% for id,emp in top_request_empires %}
      dataTable.addColumn("number", "{{emp.displayName}}");
      {% end %}
      dataTable.addRows([
      {% for entry in request_graph %}
        [
          new Date({{ entry.date.getMillis() }}),
          {{entry.total}},
          {% for id,emp in top_request_empires %}
            {% if entry[emp.ID] %}{{ entry[emp.ID] }}{% else %}0{% end %},
          {% end %}
        ],
      {% end %}
      ]);

      var dataView = new google.visualization.DataView(dataTable);

      var width = $("#requestsGraph").width();
      var height = $("#requestsGraph").height();
      var options = {
        "chartArea": {left: 50, top: 10, width: width - 200, height: height - 80},
        "backgroundColor": {fill: "transparent"}
      };

      var chart = new google.visualization.LineChart(document.getElementById("requestsGraph"));
      chart.draw(dataView, options);

    }
  </script>

{% end %}