{% extends "admin/skeleton.html" %}
{% block title %}MOTD{% endblock %}
{% block head %}
  <style>
    html, body {
      overflow: hidden;
    }

    .curr-motd {
      position: absolute;
      top: 60px;
      left: 0;
      right: 49%;
      bottom: 0;
      border: solid 2px black;
    }

    .curr-motd legend {
      font-weight: bold;
      color: #900;
    }

    .curr-motd div {
      position: absolute;
      top: 10px; left: 10px; right: 10px; bottom: 0;
      overflow-y: scroll;
    }

    .new-motd {
      position: absolute;
      top: 60px;
      left: 51%;
      right: 0;
      bottom: 0;
    }

    .new-motd textarea {
      position: absolute;
      top: 0; left: 0; right: 0;
      bottom: 50px;
    }

    .new-motd input {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Message of the Day</h1>
  <fieldset class="curr-motd">
    <legend>Current Message</legend>
    <div id="currMotd"></div>
  </fieldset>

  <div class="new-motd">
    <textarea id="newMotd" name="new-motd">{{ motd.message }}</textarea>
    <input type="submit" value="Update">
  </div>
  <script>
    $("input[type=submit]").on("click", function() {
      $.ajax({
        url: "/realms/{{realm}}/motd",
        contentType: "text/html",
        type: "POST",
        data: $("#newMotd").val(),
        success: function() {
          refresh(false);
        }
      });
    });

    function refresh(updateNew) {
        $.ajax({
          url: "/realms/{{realm}}/motd",
          dataType: "html",
          type: "GET",
          success: function(data) {
            $("#currMotd").html(data);
            if (updateNew) {
              $("#newMotd").val(data);
            }
          },
          error: function(xhr, status, error) {
            alert("An error occured...\r\n\r\nStatus: "+status+"\r\nError: "+error);
          }
        });
    }
    refresh(true);
  </script>
{% endblock %}