<!DOCTYPE html>
<html>
  <head>
    <title>War Worlds &bull; {% block title %}Backend{% endblock %}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/realms/{{realm}}/css/admin.css">
    <link rel="stylesheet" href="/realms/{{realm}}/css/admin-mobile.css" media="only screen and (max-width: 900px)" />
    <link rel="icon" href="/realms/{{realm}}/favicon.ico" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.realm = "{{realm}}";</script>
    <script src="/realms/{{realm}}/js/admin.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <section id="header"><div class="header-bg">
      <div id="navmenu-toggle">≡</div>
      <img src="/realms/{{realm}}/img/logo.png" width="38" height="38" alt="Logo" />
      <h1>War Worlds</h1>
      {% if msgs %}
        <div class="msgs">
          {% for msg in msgs %}
            <div class="msg">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div></section>

    <section id="navmenu"><div class="navmenu-bg">
      <div class="user-details">
        <div>Impersonate: <input type="email" id="on_behalf_of" placeholder="Email address" /></div>
        <div>{{ logged_in_user }}</div>
      </div>
      <ul>
        <li><a href="/realms/{{realm}}/admin">Dashboard</a>
        <li><span><span>Chat</span></span>
          <ul>
            <li><a href="/realms/{{realm}}/admin/chat">Messages</a>
            <li><a href="/realms/{{realm}}/admin/chat/profanity">Profanity Filter</a>
            <li><a href="/realms/{{realm}}/admin/chat/sinbin">Sinbin</a>
          </ul>
        <li><span><span>Info</span></span>
          <ul>
            <li><a href="/realms/{{realm}}/admin/devices">Devices</a>
          </ul>
        <li><span><span>Actions</span></span>
          <ul>
            <li><a href="/realms/{{realm}}/admin/actions/move-star">Move Star</a>
            <li><a href="/realms/{{realm}}/admin/actions/create-fleet">Create Fleet</a>
            <li><a href="/realms/{{realm}}/admin/actions/reset-empire">Reset Empire</a>
          </ul>
        <li><span><span>Empires</span></span>
          <ul>
            <li><a href="/realms/{{realm}}/admin/empire/search">Search</a>
            <li><a href="/realms/{{realm}}/admin/empire/shields">Shields</a>
            <li><a href="/realms/{{realm}}/admin/empire/alts">Alt Accounts</a>
          </ul>
        <li><span><span>Alliances</span></span>
          <ul>
            <li><a href="/realms/{{realm}}/admin/alliance/search">Search</a>
          </ul>
        <li><span><span>Debug</span></span>
          <ul>
            <li><a href="/realms/{{realm}}/admin/debug/starfield">Starfield</a>
            <li><a href="/realms/{{realm}}/admin/debug/colonies">Colonies</a>
            <li><a href="/realms/{{realm}}/admin/debug/reports">Reports</a>
            <li><a href="/realms/{{realm}}/admin/debug/purchases">Purchases</a>
            <li><a href="/realms/{{realm}}/admin/debug/error-reports">Error Reports</a>
          </ul>
      </ul>
    </div></section>

    <div id="maincontent">{% block content %}{% endblock %}</div>
  </body>
</html>