{% extends "skeleton.html" %}
{% block title %}Users{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<h1>Create User</h1>
<fieldset>
  <form method="post">
    <dl>
      <dt><label for="email_addr">Email address</label></dt>
      <dd><input type="email" name="email_addr" id="email_addr"></dd>

      <dt><label for="role">Role</label></dt>
      <dd><select name="role" id="role">
        <option value="ADMINISTRATOR">Administrator</option>
      </select></dd>

      {% if error %}
        <dt class="error">{{ error }}</dt>
      {% else %}
        <dt>&nbsp;</dt>
      {% endif %}
      <dd><input type="submit" value="Create"></dd>
    </dl>
  </form>
</fieldset>
{% endblock %}