{% extends "skeleton.html" %}

{% block header %}
<style>
      section.maincontent {
        width: 880px;
        padding: 10px;
        margin: 0 auto;
        background: #fff;
      }

      @media only screen and (max-width: 900px) {
        section.maincontent {
          width: auto;
        }
      }
    </style>
{% endblock %}

{% block maincontent %}
<section class="maincontent">
<h1>Terms &amp; Conditions</h1>
<p>You are granted a non-exclusive limited license to use War Worlds
  in accordance with these Terms &amp; Conditions (the “license”) issued
  by us.

<h2>1. Acceptance of Terms</h2>
<p>Codeka Consulting provides software and website services to you subject to
  the following Terms of Service (“TOS”).  If you do not agree to the TOS, then
  you should not use War Worlds or this website.

<h2>2. Product Compatibility</h2>
<p>All reasonable effort is made to ensure the application is compatible with all
  supported versions of Android, but we can give no guarantee that the application
  will run on every variation possible. We are, however, committed to doing our best
  to make the application compatible with as many devices as is feasible
  as quickly as we can.

<h2>3. Refund Policy</h2>
<p>Refunds are generally granted for most reasons, and can be initiated by sending
  and email to <a href="mailto:info@war-worlds.com">info@war-worlds.com</a>.

<h2>4. Ownership</h2>
<p>You may not claim intellectual or exclusive ownership to any of our products,
  modified or unmodified. War Worlds is open source software, and is licensed under
  the <a href="https://github.com/codeka/wwmmo/blob/master/LICENSE">MIT License</a>,
  however the name "War Worlds" is a trademark of Codeka Consulting and cannot be
  used without permission.

<h2>5. Site Content</h2>
<p>All content, including forum posts, documentation and imagery, published on the
  war-worlds.com domain, is property of Codeka Consulting and under copyright.

<h2>6. Privacy</h2>
<p>We take user privacy very seriously, details given on our
  <a href="/privacy-policy">Privacy Policy</a> page.

<h2>7. Support</h2>
<p>War Worlds is provided “as is,” however, best-effort is made to provide support
  to users as required. Please contact us at <a href="mailto:info@war-worlds.com">info@war-worlds.com</a>
  with all support requests, and we will do our best to address all issues. However,
  no gaurantee is provided that all requests will be looked into.

<h3>8. Warranty</h3>
<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  THE SOFTWARE.

<p><em>Codeka Consulting reserves the right to change or modify current Terms &amp;
  Conditions with no prior notice.</em>
</section>
{% endblock %}