{% extends "admin/skeleton.html" %}
{% block title %}Colonies{% endblock %}
{% block head %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <h1>Colonies</h1>
    <fieldset>
        <legend>Colonize Planet</legend>
        <p>Colonize a planet by entering the details below and clicking &ldquo;Colonize&rdquo;.
        <form id="colonize-planet">
            <label>Star:</label>
            <input type="text" name="star-key">
            <label>Planet Index:</label>
            <input type="text" name="planet-index">
            <input type="submit" value="Colonize">
        </form>
        <script>
            $("#colonize-planet").submit(function(evnt) {
                evnt.preventDefault();
                var starKey = $("#colonize-planet input[name=star-key]").val();
                var planetIndex = $("#colonize-planet input[name=planet-index]").val();

                var url = "/api/v1/stars/"+starKey+"/colonies";
                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({planet_index: planetIndex}),
                    success: function(data, textStatus, jqXHR) {
                        alert(JSON.stringify(data));
                    },
                    error: function(jqXHR, textStatus, err) {
                        alert("An error occured, check server logs.");
                    }
                });
            });
        </script>
    </fieldset>
{% endblock %}