{% extends "admin/skeleton.html" %}

{% block head %}
    <style>
        section.building-list {
            position: absolute;
            top: 70px;
            left: 10px;
            right: 50%;
            bottom: 10px;
            overflow: auto;
        }

        fieldset.building-properties {
            position: absolute;
            top: 70px;
            left: 50%;
            right: 10px;
            bottom: 10px;
        }

        div.field-value {
            position: relative;
            height: 20pt;
            line-height: 20pt;
        }
        div.field-value label {
            width: 100pt;
            display: block;
        }
        div.field-value span.value-prefix {
            position: absolute;
            top: 0; bottom: 0; width: 100pt; left: 0;
            text-align: right;
        }
        div.field-value input {
            border: solid 1px #666;
            display: block;
            position: absolute;
            left: 100pt;
            top: 0; bottom: 0; right: 0;
        }
        div.field-value input[type=file] {
            border: none;
        }

        div.field-value.multiline {
            height: 100pt;
        }
        div.field-value.multiline label {
            line-height: 20pt;
        }
        div.field-value.multiline textarea {
            display: block;
            position: absolute;
            top: 20pt;
            left: 0; right: 0; bottom: 0;
        }

        a.new-building {
            position: absolute;
            right: 0; bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Buildings</h1>
    <section class="building-list">
        <div>Blah, blah, blah....</div>

        <a class="button new-building" href="/admin/buildings">New Building</a>
    </section>

    <fieldset class="building-properties">
        <legend>Building</legend>
        <form method="post" enctype="multipart/form-data">
            <div class="field-value">
                <label for="building-name">Name:</label>
                <input type="text" id="building-name" name="name">
            </div>
            <div class="field-value multiline">
                <label for="building-description">Description:</label>
                <textarea id="building-description" name="description"></textarea>
            </div>
            <div class="field-value">
                <label for="building-name">Cost:</label>
                <span class="value-prefix">$</span>
                <input type="text" id="building-cost" name="cost">
            </div>
            <div class="field-value">
                <label for="building-buildTime">Build Time:</label>
                <span class="value-prefix">(hours)</span>
                <input type="text" id="building-buildTime" name="buildTime">
            </div>
            <div class="field-value">
                <label for="building-icon">Icon:</label>
                <input type="file" id="building-icon" name="icon" placeholder="Something">
            </div>
            <input type="submit" value="Save">
        </form>
    </fieldset>
{% endblock %}