{% extends "admin/skeleton.html" %}

{% block head %}
  <script src="/js/tmpl.js"></script>
  <style>
    section#messages {
      position: absolute;
      left: 0px;
      right: 10px;
      bottom: 50px;
      top: 70px;
      overflow-y: auto;
      border: solid 1px #999;
    }
    form {
      position: absolute;
      bottom: 0; left: 0; right: 0;
      height: 50px;
    }
    form input[type=text] {
      position: absolute;
      left: 0; top: 4px; right: 120px;
    }
    form input[type=submit] {
      position: absolute;
      top: 0; right: 30px;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Chat</h1>
  <section id="messages"></section>
  <form id="sendmsg">
    <input type="text">
    <input type="submit" value="Send">
  </form>
  <script>
    $("form input[type=text]").focus();
    $("form#sendmsg").on("click", "input[type=submit]", function(evnt) {
      evnt.preventDefault();

      $val = $("form input[type=text]")
      sendMessage($val.val());
      $val.val("").focus();
    });

    var g_empires = {};
    function getEmpire(empireKey, callback) {
      if (typeof g_empires[empireKey] != "undefined") {
        callback(g_empires[empireKey]);
      } else {
        $.ajax({
          "url": "/api/v1/empires/"+empireKey,
          "dataType": "json",
          "method": "GET",
          "success": function(data) {
            g_empires[data.key] = data;
            callback(data);
          }
        });
      }
    }

    function appendMessage(msg) {
      if (typeof msg.empire == "undefined") {
        if (msg.empire_key) {
          getEmpire(msg.empire_key, function(empire) {
            msg.empire = empire;
            appendMessage(msg);
          });
        } else {
          msg.empire = {display_name: "[SERVER]"};
          appendMessage(msg);
        }
        return;
      }

      var dt = new Date();
      dt.setTime(msg.date_posted * 1000);

      function zeroPad(str, n) {
        str = "0000000000"+str;
        return str.substr(str.length - n);
      }
      var dtstr = dt.getFullYear()+"-"+zeroPad(dt.getMonth() + 1, 2)+"-"+zeroPad(dt.getDay(), 2);
      dtstr += " "+zeroPad(dt.getHours(), 2)+":"+zeroPad(dt.getMinutes(), 2);

      var msgstr = dtstr+" : "+msg.empire.display_name+" : "+msg.message;

      var div = $("<div>"+msgstr+"</div>");
      div.data("dt", msg.date_posted);
      $("section#messages").append(div);
      var items = $("section#messages").children().detach().sort(function(lhs, rhs) {
        var n = $(rhs).data("dt") - $(lhs).data("dt");
        return -(n < 0 ? -1 : (n > 0 ? 1 : 0));
      });
      $("section#messages").append(items);
    }

    function sendMessage(msg) {
      var url = "/api/v1/chat";
      $.ajax({
        url: url, type: "POST", contentType: "application/json",
        data: JSON.stringify({
          "message": msg
        }),
        success: function(data) {
          // ??
        },
        error: function(xhr, status, err) {
          // todo: handle errors
          //appendMessage("[ERROR] An error occured sending the last message");
        }
      });
    }

    var lastFetch = new Date();
    lastFetch.setDate(lastFetch.getDate() - 1);
    function fetchMessages() {
      $.ajax({
        "url": "/api/v1/chat?since="+parseInt(lastFetch.getTime() / 1000),
        "method": "get",
        "dataType": "json",
        "success": function(data) {
          if (typeof data.messages == "undefined") {
            return;
          }

          for (var i = 0; i < data.messages.length; i++) {
            var msg = data.messages[i];
            appendMessage(msg);
          }
          lastFetch = new Date();
        }
      });
    }

    fetchMessages();
    setInterval(fetchMessages, 15000);
  </script>
{% endblock %}