{% extends "admin/skeleton.html" %}

{% block content %}
	<h1>Empires</h1>
	<fieldset id="find-empire">
		<legend>Find Empire</legend>
		<p>To find the details of a given Empire, enter the email address below of the user
		   who owns the Empire, or the Empire's key, then click &ldquo;Search&rdquo;.
		<form class="search">
			<input type="text" id="search-email" />
			<input type="submit" value="Search" />
		</form>
		<textarea id="search-results"></textarea>
	</fieldset>
	<script>
		$("#find-empire").on("click", "input[type=submit]", function(evnt) {
			evnt.preventDefault();

			var url = "";
			if ($("#search-email").val().indexOf("@") > 0) {
				url = "/api/v1/empires?email="+$("#search-email").val();
			} else {
				url = "/api/v1/empires/"+$("#search-email").val();
			}

			$.ajax({
				url: url,
				dataType: "json",
				success: function (data) {
					$("#search-results").val(JSON.stringify(data, null, "  "));
				},
				error: function(data) {
					alert("An error occured, check server logs.");
				}
			});
		});
	</script>
{% endblock %}