<!DOCTYPE html>
<html>
	<head>
		<title>War Worlds &bull; {% block title %}Backend{% endblock %}</title>
		<link type="text/css" rel="stylesheet" href="/css/admin.css">
		{% block head %}{% endblock %}
	</head>
	<body>
		<section id="header"><div>
			<div class="user-details">
				{{ logged_in_user }} &bull;
				<a href="{{ logout_url }}">Logout</a>
			</div>
			<h1>War Worlds</h1>
		</div></section>

		<section id="navmenu">
			<ul>
				<li><a href="/admin">Dashboard</a>
				<li><a href="/admin/motd">Message of the Day</a>
				<li><a href="/admin/devices">Devices</a>
				<li>Debug
					<ul>
						<li><a href="/admin/debug/data-store">Data Store</a>
						<li><a href="/admin/debug/starfield">Starfield</a>
					</ul>
			</ul>
		</section>

		<div id="maincontent">{% block content %}{% endblock %}</div>
	</body>
</html>